<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-stock-item-holdings-heading" jhiTranslate="resourceApp.stockItemHoldings.home.createOrEditLabel">Create or edit a Stock Item Holdings</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!stockItemHoldings.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="stockItemHoldings.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.stockItemHoldings.quantityOnHand" for="field_quantityOnHand">Quantity On Hand</label>
                    <input type="number" class="form-control" name="quantityOnHand" id="field_quantityOnHand"
                        [(ngModel)]="stockItemHoldings.quantityOnHand" required/>
                    <div [hidden]="!(editForm.controls.quantityOnHand?.dirty && editForm.controls.quantityOnHand?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.quantityOnHand?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.quantityOnHand?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.stockItemHoldings.binLocation" for="field_binLocation">Bin Location</label>
                    <input type="text" class="form-control" name="binLocation" id="field_binLocation"
                        [(ngModel)]="stockItemHoldings.binLocation" required/>
                    <div [hidden]="!(editForm.controls.binLocation?.dirty && editForm.controls.binLocation?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.binLocation?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.stockItemHoldings.lastStocktakeQuantity" for="field_lastStocktakeQuantity">Last Stocktake Quantity</label>
                    <input type="number" class="form-control" name="lastStocktakeQuantity" id="field_lastStocktakeQuantity"
                        [(ngModel)]="stockItemHoldings.lastStocktakeQuantity" required/>
                    <div [hidden]="!(editForm.controls.lastStocktakeQuantity?.dirty && editForm.controls.lastStocktakeQuantity?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.lastStocktakeQuantity?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.lastStocktakeQuantity?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.stockItemHoldings.lastCostPrice" for="field_lastCostPrice">Last Cost Price</label>
                    <input type="number" class="form-control" name="lastCostPrice" id="field_lastCostPrice"
                        [(ngModel)]="stockItemHoldings.lastCostPrice" required/>
                    <div [hidden]="!(editForm.controls.lastCostPrice?.dirty && editForm.controls.lastCostPrice?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.lastCostPrice?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.lastCostPrice?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.stockItemHoldings.reorderLevel" for="field_reorderLevel">Reorder Level</label>
                    <input type="number" class="form-control" name="reorderLevel" id="field_reorderLevel"
                        [(ngModel)]="stockItemHoldings.reorderLevel" required/>
                    <div [hidden]="!(editForm.controls.reorderLevel?.dirty && editForm.controls.reorderLevel?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.reorderLevel?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.reorderLevel?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.stockItemHoldings.targerStockLevel" for="field_targerStockLevel">Targer Stock Level</label>
                    <input type="number" class="form-control" name="targerStockLevel" id="field_targerStockLevel"
                        [(ngModel)]="stockItemHoldings.targerStockLevel" required/>
                    <div [hidden]="!(editForm.controls.targerStockLevel?.dirty && editForm.controls.targerStockLevel?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.targerStockLevel?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.targerStockLevel?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.stockItemHoldings.stockItem" for="field_stockItem">Stock Item</label>
                    <select class="form-control" id="field_stockItem" name="stockItem" [(ngModel)]="stockItemHoldings.stockItemId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="stockItemsOption.id" *ngFor="let stockItemsOption of stockitems; trackBy: trackStockItemsById">{{stockItemsOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
