.next-table td .next-table-cell-wrapper,
.next-table th .next-table-cell-wrapper {
    word-break: keep-all;
    word-wrap: break-word;
}

.product-images {
    clear: both;
    overflow: hidden;
}

//.product-images.product-images-show-main .product-image:first-child {
//    margin-top: 0;
//    width: 150px;
//    height: 150px;
//}

.product-images.product-images-show-main image-selector {
    margin-right: 12px;
    //margin-top: 53px;
}

.product-images image-selector {
    float: left;
    margin-right: 15px;
}
