<div>
    <h2 id="page-heading">
        <span jhiTranslate="resourceApp.lastestMerchantUploadedDocument.home.title">Lastest Merchant Uploaded Documents</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-lastest-merchant-uploaded-document" [routerLink]="['/lastest-merchant-uploaded-document/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="resourceApp.lastestMerchantUploadedDocument.home.createLabel">
            Create new Lastest Merchant Uploaded Document
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="lastestMerchantUploadedDocuments">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="resourceApp.lastestMerchantUploadedDocument.productCreateTemplate">Product Create Template</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let lastestMerchantUploadedDocument of lastestMerchantUploadedDocuments ;trackBy: trackId">
                <td><a [routerLink]="['/lastest-merchant-uploaded-document', lastestMerchantUploadedDocument.id, 'view' ]">{{lastestMerchantUploadedDocument.id}}</a></td>
                <td>
                    <a *ngIf="lastestMerchantUploadedDocument.productCreateTemplate" (click)="openFile(lastestMerchantUploadedDocument.productCreateTemplateContentType, lastestMerchantUploadedDocument.productCreateTemplate)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="lastestMerchantUploadedDocument.productCreateTemplate">{{lastestMerchantUploadedDocument.productCreateTemplateContentType}}, {{byteSize(lastestMerchantUploadedDocument.productCreateTemplate)}}</span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/lastest-merchant-uploaded-document', lastestMerchantUploadedDocument.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/lastest-merchant-uploaded-document', lastestMerchantUploadedDocument.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'lastest-merchant-uploaded-document', { outlets: { popup: lastestMerchantUploadedDocument.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
