<div>
    <h2 id="page-heading">
        <span jhiTranslate="resourceApp.currencyRate.home.title">Currency Rates</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-currency-rate" [routerLink]="['/currency-rate/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="resourceApp.currencyRate.home.createLabel">
            Create new Currency Rate
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="currencyRates">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="resourceApp.currencyRate.currencyRateDate">Currency Rate Date</span></th>
            <th><span jhiTranslate="resourceApp.currencyRate.fromCurrencyCode">From Currency Code</span></th>
            <th><span jhiTranslate="resourceApp.currencyRate.toCurrencyCode">To Currency Code</span></th>
            <th><span jhiTranslate="resourceApp.currencyRate.averageRate">Average Rate</span></th>
            <th><span jhiTranslate="resourceApp.currencyRate.endOfDayRate">End Of Day Rate</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let currencyRate of currencyRates ;trackBy: trackId">
                <td><a [routerLink]="['/currency-rate', currencyRate.id, 'view' ]">{{currencyRate.id}}</a></td>
                <td>{{currencyRate.currencyRateDate | date:'mediumDate'}}</td>
                <td>{{currencyRate.fromCurrencyCode}}</td>
                <td>{{currencyRate.toCurrencyCode}}</td>
                <td>{{currencyRate.averageRate}}</td>
                <td>{{currencyRate.endOfDayRate}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/currency-rate', currencyRate.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/currency-rate', currencyRate.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'currency-rate', { outlets: { popup: currencyRate.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
