<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-currency-rate-heading" jhiTranslate="resourceApp.currencyRate.home.createOrEditLabel">Create or edit a Currency Rate</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!currencyRate.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="currencyRate.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.currencyRate.currencyRateDate" for="field_currencyRateDate">Currency Rate Date</label>
                    <div class="input-group">
                        <input id="field_currencyRateDate" type="text" class="form-control" name="currencyRateDate" ngbDatepicker  #currencyRateDateDp="ngbDatepicker" [(ngModel)]="currencyRate.currencyRateDate"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="currencyRateDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.currencyRateDate?.dirty && editForm.controls.currencyRateDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.currencyRateDate?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.currencyRate.fromCurrencyCode" for="field_fromCurrencyCode">From Currency Code</label>
                    <input type="text" class="form-control" name="fromCurrencyCode" id="field_fromCurrencyCode"
                        [(ngModel)]="currencyRate.fromCurrencyCode" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.currencyRate.toCurrencyCode" for="field_toCurrencyCode">To Currency Code</label>
                    <input type="text" class="form-control" name="toCurrencyCode" id="field_toCurrencyCode"
                        [(ngModel)]="currencyRate.toCurrencyCode" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.currencyRate.averageRate" for="field_averageRate">Average Rate</label>
                    <input type="number" class="form-control" name="averageRate" id="field_averageRate"
                        [(ngModel)]="currencyRate.averageRate" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.currencyRate.endOfDayRate" for="field_endOfDayRate">End Of Day Rate</label>
                    <input type="number" class="form-control" name="endOfDayRate" id="field_endOfDayRate"
                        [(ngModel)]="currencyRate.endOfDayRate" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
