<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-product-attribute-heading" jhiTranslate="resourceApp.productAttribute.home.createOrEditLabel">Create or edit a Product Attribute</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!productAttribute.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="productAttribute.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.productAttribute.productAttributeValue" for="field_productAttributeValue">Product Attribute Value</label>
                    <input type="text" class="form-control" name="productAttributeValue" id="field_productAttributeValue"
                        [(ngModel)]="productAttribute.productAttributeValue" required/>
                    <div [hidden]="!(editForm.controls.productAttributeValue?.dirty && editForm.controls.productAttributeValue?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.productAttributeValue?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.productAttribute.productAttributeSet" for="field_productAttributeSet">Product Attribute Set</label>
                    <select class="form-control" id="field_productAttributeSet" name="productAttributeSet" [(ngModel)]="productAttribute.productAttributeSetId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productAttributeSetOption.id" *ngFor="let productAttributeSetOption of productattributesets; trackBy: trackProductAttributeSetById">{{productAttributeSetOption.productAttributeSetName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.productAttribute.supplier" for="field_supplier">Supplier</label>
                    <select class="form-control" id="field_supplier" name="supplier" [(ngModel)]="productAttribute.supplierId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="suppliersOption.id" *ngFor="let suppliersOption of suppliers; trackBy: trackSuppliersById">{{suppliersOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
