<div>
    <h2 id="page-heading">
        <span jhiTranslate="resourceApp.countries.home.title">Countries</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-countries" [routerLink]="['/countries/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="resourceApp.countries.home.createLabel">
            Create new Countries
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="countries">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="resourceApp.countries.countryName">Country Name</span></th>
            <th><span jhiTranslate="resourceApp.countries.formalName">Formal Name</span></th>
            <th><span jhiTranslate="resourceApp.countries.isoAplha3Code">Iso Aplha 3 Code</span></th>
            <th><span jhiTranslate="resourceApp.countries.isoNumericCode">Iso Numeric Code</span></th>
            <th><span jhiTranslate="resourceApp.countries.countryType">Country Type</span></th>
            <th><span jhiTranslate="resourceApp.countries.latestRecordedPopulation">Latest Recorded Population</span></th>
            <th><span jhiTranslate="resourceApp.countries.continent">Continent</span></th>
            <th><span jhiTranslate="resourceApp.countries.region">Region</span></th>
            <th><span jhiTranslate="resourceApp.countries.subregion">Subregion</span></th>
            <th><span jhiTranslate="resourceApp.countries.border">Border</span></th>
            <th><span jhiTranslate="resourceApp.countries.validFrom">Valid From</span></th>
            <th><span jhiTranslate="resourceApp.countries.validTo">Valid To</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let countries of countries ;trackBy: trackId">
                <td><a [routerLink]="['/countries', countries.id, 'view' ]">{{countries.id}}</a></td>
                <td>{{countries.countryName}}</td>
                <td>{{countries.formalName}}</td>
                <td>{{countries.isoAplha3Code}}</td>
                <td>{{countries.isoNumericCode}}</td>
                <td>{{countries.countryType}}</td>
                <td>{{countries.latestRecordedPopulation}}</td>
                <td>{{countries.continent}}</td>
                <td>{{countries.region}}</td>
                <td>{{countries.subregion}}</td>
                <td>{{countries.border}}</td>
                <td>{{countries.validFrom | date:'mediumDate'}}</td>
                <td>{{countries.validTo | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/countries', countries.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/countries', countries.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'countries', { outlets: { popup: countries.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
