<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-product-set-heading" jhiTranslate="resourceApp.productSet.home.createOrEditLabel">Create or edit a Product Set</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!productSet.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="productSet.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.productSet.productSetName" for="field_productSetName">Product Set Name</label>
                    <input type="text" class="form-control" name="productSetName" id="field_productSetName"
                        [(ngModel)]="productSet.productSetName" required/>
                    <div [hidden]="!(editForm.controls.productSetName?.dirty && editForm.controls.productSetName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.productSetName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.productSet.noOfPerson" for="field_noOfPerson">No Of Person</label>
                    <input type="number" class="form-control" name="noOfPerson" id="field_noOfPerson"
                        [(ngModel)]="productSet.noOfPerson" required/>
                    <div [hidden]="!(editForm.controls.noOfPerson?.dirty && editForm.controls.noOfPerson?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.noOfPerson?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.noOfPerson?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.productSet.isExclusive" for="field_isExclusive">Is Exclusive</label>
                    <input type="checkbox" class="form-control" name="isExclusive" id="field_isExclusive"
                        [(ngModel)]="productSet.isExclusive" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
