<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-unit-measure-heading" jhiTranslate="resourceApp.unitMeasure.home.createOrEditLabel">Create or edit a Unit Measure</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!unitMeasure.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="unitMeasure.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.unitMeasure.unitMeasureCode" for="field_unitMeasureCode">Unit Measure Code</label>
                    <input type="text" class="form-control" name="unitMeasureCode" id="field_unitMeasureCode"
                        [(ngModel)]="unitMeasure.unitMeasureCode" required/>
                    <div [hidden]="!(editForm.controls.unitMeasureCode?.dirty && editForm.controls.unitMeasureCode?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.unitMeasureCode?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.unitMeasure.unitMeasureName" for="field_unitMeasureName">Unit Measure Name</label>
                    <input type="text" class="form-control" name="unitMeasureName" id="field_unitMeasureName"
                        [(ngModel)]="unitMeasure.unitMeasureName" required/>
                    <div [hidden]="!(editForm.controls.unitMeasureName?.dirty && editForm.controls.unitMeasureName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.unitMeasureName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
