<div>
    <h2 id="page-heading">
        <span jhiTranslate="resourceApp.paymentMethods.home.title">Payment Methods</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-payment-methods" [routerLink]="['/payment-methods/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="resourceApp.paymentMethods.home.createLabel">
            Create new Payment Methods
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="paymentMethods">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="resourceApp.paymentMethods.paymentMethodName">Payment Method Name</span></th>
            <th><span jhiTranslate="resourceApp.paymentMethods.activeInd">Active Ind</span></th>
            <th><span jhiTranslate="resourceApp.paymentMethods.validFrom">Valid From</span></th>
            <th><span jhiTranslate="resourceApp.paymentMethods.validTo">Valid To</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let paymentMethods of paymentMethods ;trackBy: trackId">
                <td><a [routerLink]="['/payment-methods', paymentMethods.id, 'view' ]">{{paymentMethods.id}}</a></td>
                <td>{{paymentMethods.paymentMethodName}}</td>
                <td>{{paymentMethods.activeInd}}</td>
                <td>{{paymentMethods.validFrom | date:'mediumDate'}}</td>
                <td>{{paymentMethods.validTo | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/payment-methods', paymentMethods.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/payment-methods', paymentMethods.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'payment-methods', { outlets: { popup: paymentMethods.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
