<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-product-set-details-heading" jhiTranslate="resourceApp.productSetDetails.home.createOrEditLabel">Create or edit a Product Set Details</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!productSetDetails.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="productSetDetails.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.productSetDetails.subGroupNo" for="field_subGroupNo">Sub Group No</label>
                    <input type="number" class="form-control" name="subGroupNo" id="field_subGroupNo"
                        [(ngModel)]="productSetDetails.subGroupNo" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.productSetDetails.subGroupMinCount" for="field_subGroupMinCount">Sub Group Min Count</label>
                    <input type="number" class="form-control" name="subGroupMinCount" id="field_subGroupMinCount"
                        [(ngModel)]="productSetDetails.subGroupMinCount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.productSetDetails.subGroupMinTotal" for="field_subGroupMinTotal">Sub Group Min Total</label>
                    <input type="number" class="form-control" name="subGroupMinTotal" id="field_subGroupMinTotal"
                        [(ngModel)]="productSetDetails.subGroupMinTotal" required/>
                    <div [hidden]="!(editForm.controls.subGroupMinTotal?.dirty && editForm.controls.subGroupMinTotal?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.subGroupMinTotal?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.subGroupMinTotal?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.productSetDetails.minCount" for="field_minCount">Min Count</label>
                    <input type="number" class="form-control" name="minCount" id="field_minCount"
                        [(ngModel)]="productSetDetails.minCount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.productSetDetails.maxCount" for="field_maxCount">Max Count</label>
                    <input type="number" class="form-control" name="maxCount" id="field_maxCount"
                        [(ngModel)]="productSetDetails.maxCount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.productSetDetails.isOptional" for="field_isOptional">Is Optional</label>
                    <input type="checkbox" class="form-control" name="isOptional" id="field_isOptional"
                        [(ngModel)]="productSetDetails.isOptional" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
