<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-product-choice-heading" jhiTranslate="resourceApp.productChoice.home.createOrEditLabel">Create or edit a Product Choice</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!productChoice.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="productChoice.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.productChoice.isMultiply" for="field_isMultiply">Is Multiply</label>
                    <input type="checkbox" class="form-control" name="isMultiply" id="field_isMultiply"
                        [(ngModel)]="productChoice.isMultiply" />
                    <div [hidden]="!(editForm.controls.isMultiply?.dirty && editForm.controls.isMultiply?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.isMultiply?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.productChoice.productCategory" for="field_productCategory">Product Category</label>
                    <select class="form-control" id="field_productCategory" name="productCategory" [(ngModel)]="productChoice.productCategoryId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productCategoryOption.id" *ngFor="let productCategoryOption of productcategories; trackBy: trackProductCategoryById">{{productCategoryOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.productChoice.productAttributeSet" for="field_productAttributeSet">Product Attribute Set</label>
                    <select class="form-control" id="field_productAttributeSet" name="productAttributeSet" [(ngModel)]="productChoice.productAttributeSetId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productAttributeSetOption.id" *ngFor="let productAttributeSetOption of productattributesets; trackBy: trackProductAttributeSetById">{{productAttributeSetOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.productChoice.productOptionSet" for="field_productOptionSet">Product Option Set</label>
                    <select class="form-control" id="field_productOptionSet" name="productOptionSet" [(ngModel)]="productChoice.productOptionSetId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productOptionSetOption.id" *ngFor="let productOptionSetOption of productoptionsets; trackBy: trackProductOptionSetById">{{productOptionSetOption.value}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
