<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-vehicle-temperatures-heading" jhiTranslate="resourceApp.vehicleTemperatures.home.createOrEditLabel">Create or edit a Vehicle Temperatures</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!vehicleTemperatures.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="vehicleTemperatures.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.vehicleTemperatures.vehicleRegistration" for="field_vehicleRegistration">Vehicle Registration</label>
                    <input type="number" class="form-control" name="vehicleRegistration" id="field_vehicleRegistration"
                        [(ngModel)]="vehicleTemperatures.vehicleRegistration" required/>
                    <div [hidden]="!(editForm.controls.vehicleRegistration?.dirty && editForm.controls.vehicleRegistration?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.vehicleRegistration?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.vehicleRegistration?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.vehicleTemperatures.chillerSensorNumber" for="field_chillerSensorNumber">Chiller Sensor Number</label>
                    <input type="text" class="form-control" name="chillerSensorNumber" id="field_chillerSensorNumber"
                        [(ngModel)]="vehicleTemperatures.chillerSensorNumber" required/>
                    <div [hidden]="!(editForm.controls.chillerSensorNumber?.dirty && editForm.controls.chillerSensorNumber?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.chillerSensorNumber?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.vehicleTemperatures.recordedWhen" for="field_recordedWhen">Recorded When</label>
                    <input type="number" class="form-control" name="recordedWhen" id="field_recordedWhen"
                        [(ngModel)]="vehicleTemperatures.recordedWhen" required/>
                    <div [hidden]="!(editForm.controls.recordedWhen?.dirty && editForm.controls.recordedWhen?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.recordedWhen?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.recordedWhen?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.vehicleTemperatures.temperature" for="field_temperature">Temperature</label>
                    <input type="number" class="form-control" name="temperature" id="field_temperature"
                        [(ngModel)]="vehicleTemperatures.temperature" required/>
                    <div [hidden]="!(editForm.controls.temperature?.dirty && editForm.controls.temperature?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.temperature?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.temperature?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.vehicleTemperatures.isCompressed" for="field_isCompressed">Is Compressed</label>
                    <input type="checkbox" class="form-control" name="isCompressed" id="field_isCompressed"
                        [(ngModel)]="vehicleTemperatures.isCompressed" />
                    <div [hidden]="!(editForm.controls.isCompressed?.dirty && editForm.controls.isCompressed?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.isCompressed?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.vehicleTemperatures.fullSensorData" for="field_fullSensorData">Full Sensor Data</label>
                    <input type="text" class="form-control" name="fullSensorData" id="field_fullSensorData"
                        [(ngModel)]="vehicleTemperatures.fullSensorData" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.vehicleTemperatures.compressedSensorData" for="field_compressedSensorData">Compressed Sensor Data</label>
                    <input type="text" class="form-control" name="compressedSensorData" id="field_compressedSensorData"
                        [(ngModel)]="vehicleTemperatures.compressedSensorData" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
