<div>
    <h2 id="page-heading">
        <span jhiTranslate="resourceApp.businessEntityContact.home.title">Business Entity Contacts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-business-entity-contact" [routerLink]="['/business-entity-contact/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="resourceApp.businessEntityContact.home.createLabel">
            Create new Business Entity Contact
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="businessEntityContacts">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="resourceApp.businessEntityContact.person">Person</span></th>
            <th><span jhiTranslate="resourceApp.businessEntityContact.contactType">Contact Type</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let businessEntityContact of businessEntityContacts ;trackBy: trackId">
                <td><a [routerLink]="['/business-entity-contact', businessEntityContact.id, 'view' ]">{{businessEntityContact.id}}</a></td>
                <td>
                    <div *ngIf="businessEntityContact.personId">
                        <a [routerLink]="['../people', businessEntityContact.personId , 'view' ]" >{{businessEntityContact.personId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="businessEntityContact.contactTypeId">
                        <a [routerLink]="['../contact-type', businessEntityContact.contactTypeId , 'view' ]" >{{businessEntityContact.contactTypeContactTypeName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/business-entity-contact', businessEntityContact.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/business-entity-contact', businessEntityContact.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'business-entity-contact', { outlets: { popup: businessEntityContact.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
