<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-order-lines-heading" jhiTranslate="resourceApp.orderLines.home.createOrEditLabel">Create or edit a Order Lines</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!orderLines.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="orderLines.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.orderLines.carrierTrackingNumber" for="field_carrierTrackingNumber">Carrier Tracking Number</label>
                    <input type="text" class="form-control" name="carrierTrackingNumber" id="field_carrierTrackingNumber"
                        [(ngModel)]="orderLines.carrierTrackingNumber" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.orderLines.quantity" for="field_quantity">Quantity</label>
                    <input type="number" class="form-control" name="quantity" id="field_quantity"
                        [(ngModel)]="orderLines.quantity" required/>
                    <div [hidden]="!(editForm.controls.quantity?.dirty && editForm.controls.quantity?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.quantity?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.quantity?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.orderLines.unitPrice" for="field_unitPrice">Unit Price</label>
                    <input type="number" class="form-control" name="unitPrice" id="field_unitPrice"
                        [(ngModel)]="orderLines.unitPrice" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.orderLines.unitPriceDiscount" for="field_unitPriceDiscount">Unit Price Discount</label>
                    <input type="number" class="form-control" name="unitPriceDiscount" id="field_unitPriceDiscount"
                        [(ngModel)]="orderLines.unitPriceDiscount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.orderLines.lineTotal" for="field_lineTotal">Line Total</label>
                    <input type="number" class="form-control" name="lineTotal" id="field_lineTotal"
                        [(ngModel)]="orderLines.lineTotal" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.orderLines.taxRate" for="field_taxRate">Tax Rate</label>
                    <input type="number" class="form-control" name="taxRate" id="field_taxRate"
                        [(ngModel)]="orderLines.taxRate" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.orderLines.pickedQuantity" for="field_pickedQuantity">Picked Quantity</label>
                    <input type="number" class="form-control" name="pickedQuantity" id="field_pickedQuantity"
                        [(ngModel)]="orderLines.pickedQuantity" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.orderLines.pickingCompletedWhen" for="field_pickingCompletedWhen">Picking Completed When</label>
                    <div class="input-group">
                        <input id="field_pickingCompletedWhen" type="text" class="form-control" name="pickingCompletedWhen" ngbDatepicker  #pickingCompletedWhenDp="ngbDatepicker" [(ngModel)]="orderLines.pickingCompletedWhen"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="pickingCompletedWhenDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.orderLines.packageType" for="field_packageType">Package Type</label>
                    <select class="form-control" id="field_packageType" name="packageType" [(ngModel)]="orderLines.packageTypeId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="packageTypesOption.id" *ngFor="let packageTypesOption of packagetypes; trackBy: trackPackageTypesById">{{packageTypesOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.orderLines.product" for="field_product">Product</label>
                    <select class="form-control" id="field_product" name="product" [(ngModel)]="orderLines.productId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productsOption.id" *ngFor="let productsOption of products; trackBy: trackProductsById">{{productsOption.productName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.orderLines.order" for="field_order">Order</label>
                    <select class="form-control" id="field_order" name="order" [(ngModel)]="orderLines.orderId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="ordersOption.id" *ngFor="let ordersOption of orders; trackBy: trackOrdersById">{{ordersOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
