<div>
    <h2 id="page-heading">
        <span jhiTranslate="resourceApp.orderLines.home.title">Order Lines</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-order-lines" [routerLink]="['/order-lines/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="resourceApp.orderLines.home.createLabel">
            Create new Order Lines
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="orderLines">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="resourceApp.orderLines.carrierTrackingNumber">Carrier Tracking Number</span></th>
            <th><span jhiTranslate="resourceApp.orderLines.quantity">Quantity</span></th>
            <th><span jhiTranslate="resourceApp.orderLines.unitPrice">Unit Price</span></th>
            <th><span jhiTranslate="resourceApp.orderLines.unitPriceDiscount">Unit Price Discount</span></th>
            <th><span jhiTranslate="resourceApp.orderLines.lineTotal">Line Total</span></th>
            <th><span jhiTranslate="resourceApp.orderLines.taxRate">Tax Rate</span></th>
            <th><span jhiTranslate="resourceApp.orderLines.pickedQuantity">Picked Quantity</span></th>
            <th><span jhiTranslate="resourceApp.orderLines.pickingCompletedWhen">Picking Completed When</span></th>
            <th><span jhiTranslate="resourceApp.orderLines.packageType">Package Type</span></th>
            <th><span jhiTranslate="resourceApp.orderLines.product">Product</span></th>
            <th><span jhiTranslate="resourceApp.orderLines.order">Order</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let orderLines of orderLines ;trackBy: trackId">
                <td><a [routerLink]="['/order-lines', orderLines.id, 'view' ]">{{orderLines.id}}</a></td>
                <td>{{orderLines.carrierTrackingNumber}}</td>
                <td>{{orderLines.quantity}}</td>
                <td>{{orderLines.unitPrice}}</td>
                <td>{{orderLines.unitPriceDiscount}}</td>
                <td>{{orderLines.lineTotal}}</td>
                <td>{{orderLines.taxRate}}</td>
                <td>{{orderLines.pickedQuantity}}</td>
                <td>{{orderLines.pickingCompletedWhen | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="orderLines.packageTypeId">
                        <a [routerLink]="['../package-types', orderLines.packageTypeId , 'view' ]" >{{orderLines.packageTypeId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="orderLines.productId">
                        <a [routerLink]="['../products', orderLines.productId , 'view' ]" >{{orderLines.productProductName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="orderLines.orderId">
                        <a [routerLink]="['../orders', orderLines.orderId , 'view' ]" >{{orderLines.orderId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/order-lines', orderLines.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/order-lines', orderLines.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'order-lines', { outlets: { popup: orderLines.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
