<div>
    <h2 id="page-heading">
        <span jhiTranslate="resourceApp.coldRoomTemperatures.home.title">Cold Room Temperatures</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cold-room-temperatures" [routerLink]="['/cold-room-temperatures/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="resourceApp.coldRoomTemperatures.home.createLabel">
            Create new Cold Room Temperatures
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="coldRoomTemperatures">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="resourceApp.coldRoomTemperatures.coldRoomSensorNumber">Cold Room Sensor Number</span></th>
            <th><span jhiTranslate="resourceApp.coldRoomTemperatures.recordedWhen">Recorded When</span></th>
            <th><span jhiTranslate="resourceApp.coldRoomTemperatures.temperature">Temperature</span></th>
            <th><span jhiTranslate="resourceApp.coldRoomTemperatures.validFrom">Valid From</span></th>
            <th><span jhiTranslate="resourceApp.coldRoomTemperatures.validTo">Valid To</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let coldRoomTemperatures of coldRoomTemperatures ;trackBy: trackId">
                <td><a [routerLink]="['/cold-room-temperatures', coldRoomTemperatures.id, 'view' ]">{{coldRoomTemperatures.id}}</a></td>
                <td>{{coldRoomTemperatures.coldRoomSensorNumber}}</td>
                <td>{{coldRoomTemperatures.recordedWhen | date:'mediumDate'}}</td>
                <td>{{coldRoomTemperatures.temperature}}</td>
                <td>{{coldRoomTemperatures.validFrom | date:'mediumDate'}}</td>
                <td>{{coldRoomTemperatures.validTo | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/cold-room-temperatures', coldRoomTemperatures.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cold-room-temperatures', coldRoomTemperatures.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'cold-room-temperatures', { outlets: { popup: coldRoomTemperatures.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
