<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-product-option-heading" jhiTranslate="resourceApp.productOption.home.createOrEditLabel">Create or edit a Product Option</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!productOption.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="productOption.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.productOption.productOptionValue" for="field_productOptionValue">Product Option Value</label>
                    <input type="text" class="form-control" name="productOptionValue" id="field_productOptionValue"
                        [(ngModel)]="productOption.productOptionValue" required/>
                    <div [hidden]="!(editForm.controls.productOptionValue?.dirty && editForm.controls.productOptionValue?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.productOptionValue?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.productOption.productOptionSet" for="field_productOptionSet">Product Option Set</label>
                    <select class="form-control" id="field_productOptionSet" name="productOptionSet" [(ngModel)]="productOption.productOptionSetId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productOptionSetOption.id" *ngFor="let productOptionSetOption of productoptionsets; trackBy: trackProductOptionSetById">{{productOptionSetOption.productOptionSetValue}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.productOption.supplier" for="field_supplier">Supplier</label>
                    <select class="form-control" id="field_supplier" name="supplier" [(ngModel)]="productOption.supplierId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="suppliersOption.id" *ngFor="let suppliersOption of suppliers; trackBy: trackSuppliersById">{{suppliersOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
