<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-cities-heading" jhiTranslate="resourceApp.cities.home.createOrEditLabel">Create or edit a Cities</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!cities.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="cities.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.cities.cityName" for="field_cityName">City Name</label>
                    <input type="text" class="form-control" name="cityName" id="field_cityName"
                        [(ngModel)]="cities.cityName" required/>
                    <div [hidden]="!(editForm.controls.cityName?.dirty && editForm.controls.cityName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.cityName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.cities.location" for="field_location">Location</label>
                    <input type="text" class="form-control" name="location" id="field_location"
                        [(ngModel)]="cities.location" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.cities.latestRecordedPopulation" for="field_latestRecordedPopulation">Latest Recorded Population</label>
                    <input type="number" class="form-control" name="latestRecordedPopulation" id="field_latestRecordedPopulation"
                        [(ngModel)]="cities.latestRecordedPopulation" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.cities.validFrom" for="field_validFrom">Valid From</label>
                    <div class="input-group">
                        <input id="field_validFrom" type="text" class="form-control" name="validFrom" ngbDatepicker  #validFromDp="ngbDatepicker" [(ngModel)]="cities.validFrom"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="validFromDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.validFrom?.dirty && editForm.controls.validFrom?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.validFrom?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.cities.validTo" for="field_validTo">Valid To</label>
                    <div class="input-group">
                        <input id="field_validTo" type="text" class="form-control" name="validTo" ngbDatepicker  #validToDp="ngbDatepicker" [(ngModel)]="cities.validTo"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="validToDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.validTo?.dirty && editForm.controls.validTo?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.validTo?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.cities.stateProvince" for="field_stateProvince">State Province</label>
                    <select class="form-control" id="field_stateProvince" name="stateProvince" [(ngModel)]="cities.stateProvinceId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="stateProvincesOption.id" *ngFor="let stateProvincesOption of stateprovinces; trackBy: trackStateProvincesById">{{stateProvincesOption.stateProvinceName}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
