<div>
    <h2 id="page-heading">
        <span jhiTranslate="resourceApp.cities.home.title">Cities</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cities" [routerLink]="['/cities/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="resourceApp.cities.home.createLabel">
            Create new Cities
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="cities">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="resourceApp.cities.cityName">City Name</span></th>
            <th><span jhiTranslate="resourceApp.cities.location">Location</span></th>
            <th><span jhiTranslate="resourceApp.cities.latestRecordedPopulation">Latest Recorded Population</span></th>
            <th><span jhiTranslate="resourceApp.cities.validFrom">Valid From</span></th>
            <th><span jhiTranslate="resourceApp.cities.validTo">Valid To</span></th>
            <th><span jhiTranslate="resourceApp.cities.stateProvince">State Province</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cities of cities ;trackBy: trackId">
                <td><a [routerLink]="['/cities', cities.id, 'view' ]">{{cities.id}}</a></td>
                <td>{{cities.cityName}}</td>
                <td>{{cities.location}}</td>
                <td>{{cities.latestRecordedPopulation}}</td>
                <td>{{cities.validFrom | date:'mediumDate'}}</td>
                <td>{{cities.validTo | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="cities.stateProvinceId">
                        <a [routerLink]="['../state-provinces', cities.stateProvinceId , 'view' ]" >{{cities.stateProvinceStateProvinceName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/cities', cities.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cities', cities.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'cities', { outlets: { popup: cities.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
