<div>
    <h2 id="page-heading">
        <span jhiTranslate="resourceApp.warrantyTypes.home.title">Warranty Types</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-warranty-types" [routerLink]="['/warranty-types/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="resourceApp.warrantyTypes.home.createLabel">
            Create new Warranty Types
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="warrantyTypes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="resourceApp.warrantyTypes.warrantyTypeName">Warranty Type Name</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let warrantyTypes of warrantyTypes ;trackBy: trackId">
                <td><a [routerLink]="['/warranty-types', warrantyTypes.id, 'view' ]">{{warrantyTypes.id}}</a></td>
                <td>{{warrantyTypes.warrantyTypeName}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/warranty-types', warrantyTypes.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/warranty-types', warrantyTypes.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'warranty-types', { outlets: { popup: warrantyTypes.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
