<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-product-document-heading" jhiTranslate="resourceApp.productDocument.home.createOrEditLabel">Create or edit a Product Document</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!productDocument.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="productDocument.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.productDocument.videoUrl" for="field_videoUrl">Video Url</label>
                    <input type="text" class="form-control" name="videoUrl" id="field_videoUrl"
                        [(ngModel)]="productDocument.videoUrl" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.productDocument.highlights" for="field_highlights">Highlights</label>
                    <textarea class="form-control" name="highlights" id="field_highlights"
                        [(ngModel)]="productDocument.highlights" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.productDocument.longDescription" for="field_longDescription">Long Description</label>
                    <textarea class="form-control" name="longDescription" id="field_longDescription"
                        [(ngModel)]="productDocument.longDescription" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.productDocument.shortDescription" for="field_shortDescription">Short Description</label>
                    <textarea class="form-control" name="shortDescription" id="field_shortDescription"
                        [(ngModel)]="productDocument.shortDescription" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.productDocument.description" for="field_description">Description</label>
                    <textarea class="form-control" name="description" id="field_description"
                        [(ngModel)]="productDocument.description" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.productDocument.careInstructions" for="field_careInstructions">Care Instructions</label>
                    <textarea class="form-control" name="careInstructions" id="field_careInstructions"
                        [(ngModel)]="productDocument.careInstructions" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.productDocument.productType" for="field_productType">Product Type</label>
                    <input type="text" class="form-control" name="productType" id="field_productType"
                        [(ngModel)]="productDocument.productType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.productDocument.modelName" for="field_modelName">Model Name</label>
                    <input type="text" class="form-control" name="modelName" id="field_modelName"
                        [(ngModel)]="productDocument.modelName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.productDocument.modelNumber" for="field_modelNumber">Model Number</label>
                    <input type="text" class="form-control" name="modelNumber" id="field_modelNumber"
                        [(ngModel)]="productDocument.modelNumber" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.productDocument.fabricType" for="field_fabricType">Fabric Type</label>
                    <input type="text" class="form-control" name="fabricType" id="field_fabricType"
                        [(ngModel)]="productDocument.fabricType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.productDocument.specialFeatures" for="field_specialFeatures">Special Features</label>
                    <textarea class="form-control" name="specialFeatures" id="field_specialFeatures"
                        [(ngModel)]="productDocument.specialFeatures" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.productDocument.productComplianceCertificate" for="field_productComplianceCertificate">Product Compliance Certificate</label>
                    <input type="text" class="form-control" name="productComplianceCertificate" id="field_productComplianceCertificate"
                        [(ngModel)]="productDocument.productComplianceCertificate" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.productDocument.genuineAndLegal" for="field_genuineAndLegal">Genuine And Legal</label>
                    <input type="checkbox" class="form-control" name="genuineAndLegal" id="field_genuineAndLegal"
                        [(ngModel)]="productDocument.genuineAndLegal" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.productDocument.countryOfOrigin" for="field_countryOfOrigin">Country Of Origin</label>
                    <input type="text" class="form-control" name="countryOfOrigin" id="field_countryOfOrigin"
                        [(ngModel)]="productDocument.countryOfOrigin" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.productDocument.usageAndSideEffects" for="field_usageAndSideEffects">Usage And Side Effects</label>
                    <textarea class="form-control" name="usageAndSideEffects" id="field_usageAndSideEffects"
                        [(ngModel)]="productDocument.usageAndSideEffects" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.productDocument.safetyWarnning" for="field_safetyWarnning">Safety Warnning</label>
                    <textarea class="form-control" name="safetyWarnning" id="field_safetyWarnning"
                        [(ngModel)]="productDocument.safetyWarnning" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.productDocument.warrantyPeriod" for="field_warrantyPeriod">Warranty Period</label>
                    <input type="text" class="form-control" name="warrantyPeriod" id="field_warrantyPeriod"
                        [(ngModel)]="productDocument.warrantyPeriod" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.productDocument.warrantyPolicy" for="field_warrantyPolicy">Warranty Policy</label>
                    <input type="text" class="form-control" name="warrantyPolicy" id="field_warrantyPolicy"
                        [(ngModel)]="productDocument.warrantyPolicy" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.productDocument.warrantyType" for="field_warrantyType">Warranty Type</label>
                    <select class="form-control" id="field_warrantyType" name="warrantyType" [(ngModel)]="productDocument.warrantyTypeId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="warrantyTypesOption.id" *ngFor="let warrantyTypesOption of warrantytypes; trackBy: trackWarrantyTypesById">{{warrantyTypesOption.warrantyTypeName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.productDocument.culture" for="field_culture">Culture</label>
                    <select class="form-control" id="field_culture" name="culture" [(ngModel)]="productDocument.cultureId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cultureOption.id" *ngFor="let cultureOption of cultures; trackBy: trackCultureById">{{cultureOption.cultureName}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
