<div>
    <h2 id="page-heading">
        <span jhiTranslate="resourceApp.productDocument.home.title">Product Documents</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-document" [routerLink]="['/product-document/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="resourceApp.productDocument.home.createLabel">
            Create new Product Document
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="productDocuments">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="resourceApp.productDocument.documentNode">Document Node</span></th>
            <th><span jhiTranslate="resourceApp.productDocument.videoUrl">Video Url</span></th>
            <th><span jhiTranslate="resourceApp.productDocument.highlights">Highlights</span></th>
            <th><span jhiTranslate="resourceApp.productDocument.product">Product</span></th>
            <th><span jhiTranslate="resourceApp.productDocument.culture">Culture</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let productDocument of productDocuments ;trackBy: trackId">
                <td><a [routerLink]="['/product-document', productDocument.id, 'view' ]">{{productDocument.id}}</a></td>
                <td>
                    <a *ngIf="productDocument.documentNode" (click)="openFile(productDocument.documentNodeContentType, productDocument.documentNode)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="productDocument.documentNode">{{productDocument.documentNodeContentType}}, {{byteSize(productDocument.documentNode)}}</span>
                </td>
                <td>{{productDocument.videoUrl}}</td>
                <td>{{productDocument.highlights}}</td>
                <td>
                    <div *ngIf="productDocument.productId">
                        <a [routerLink]="['../products', productDocument.productId , 'view' ]" >{{productDocument.productProductName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="productDocument.cultureId">
                        <a [routerLink]="['../culture', productDocument.cultureId , 'view' ]" >{{productDocument.cultureCultureName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/product-document', productDocument.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/product-document', productDocument.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'product-document', { outlets: { popup: productDocument.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
