<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="productDocument">
            <h2><span jhiTranslate="resourceApp.productDocument.detail.title">Product Document</span> {{productDocument.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="resourceApp.productDocument.documentNode">Document Node</span></dt>
                <dd>
                    <div *ngIf="productDocument.documentNode">
                        <a (click)="openFile(productDocument.documentNodeContentType, productDocument.documentNode)" jhiTranslate="entity.action.open">open</a>
                        {{productDocument.documentNodeContentType}}, {{byteSize(productDocument.documentNode)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="resourceApp.productDocument.videoUrl">Video Url</span></dt>
                <dd>
                    <span>{{productDocument.videoUrl}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.productDocument.highlights">Highlights</span></dt>
                <dd>
                    <span>{{productDocument.highlights}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.productDocument.product">Product</span></dt>
                <dd>
                    <div *ngIf="productDocument.productId">
                        <a [routerLink]="['/products', productDocument.productId, 'view']">{{productDocument.productProductName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="resourceApp.productDocument.culture">Culture</span></dt>
                <dd>
                    <div *ngIf="productDocument.cultureId">
                        <a [routerLink]="['/culture', productDocument.cultureId, 'view']">{{productDocument.cultureCultureName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product-document', productDocument.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
