<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-supplier-transactions-heading" jhiTranslate="resourceApp.supplierTransactions.home.createOrEditLabel">Create or edit a Supplier Transactions</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!supplierTransactions.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="supplierTransactions.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.supplierTransactions.supplierInvoiceNumber" for="field_supplierInvoiceNumber">Supplier Invoice Number</label>
                    <input type="text" class="form-control" name="supplierInvoiceNumber" id="field_supplierInvoiceNumber"
                        [(ngModel)]="supplierTransactions.supplierInvoiceNumber" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.supplierTransactions.transactionDate" for="field_transactionDate">Transaction Date</label>
                    <div class="input-group">
                        <input id="field_transactionDate" type="text" class="form-control" name="transactionDate" ngbDatepicker  #transactionDateDp="ngbDatepicker" [(ngModel)]="supplierTransactions.transactionDate"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="transactionDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.transactionDate?.dirty && editForm.controls.transactionDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.transactionDate?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.supplierTransactions.amountExcludingTax" for="field_amountExcludingTax">Amount Excluding Tax</label>
                    <input type="number" class="form-control" name="amountExcludingTax" id="field_amountExcludingTax"
                        [(ngModel)]="supplierTransactions.amountExcludingTax" required/>
                    <div [hidden]="!(editForm.controls.amountExcludingTax?.dirty && editForm.controls.amountExcludingTax?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.amountExcludingTax?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.amountExcludingTax?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.supplierTransactions.taxAmount" for="field_taxAmount">Tax Amount</label>
                    <input type="number" class="form-control" name="taxAmount" id="field_taxAmount"
                        [(ngModel)]="supplierTransactions.taxAmount" required/>
                    <div [hidden]="!(editForm.controls.taxAmount?.dirty && editForm.controls.taxAmount?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.taxAmount?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.taxAmount?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.supplierTransactions.transactionAmount" for="field_transactionAmount">Transaction Amount</label>
                    <input type="number" class="form-control" name="transactionAmount" id="field_transactionAmount"
                        [(ngModel)]="supplierTransactions.transactionAmount" required/>
                    <div [hidden]="!(editForm.controls.transactionAmount?.dirty && editForm.controls.transactionAmount?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.transactionAmount?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.transactionAmount?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.supplierTransactions.outstandingBalance" for="field_outstandingBalance">Outstanding Balance</label>
                    <input type="number" class="form-control" name="outstandingBalance" id="field_outstandingBalance"
                        [(ngModel)]="supplierTransactions.outstandingBalance" required/>
                    <div [hidden]="!(editForm.controls.outstandingBalance?.dirty && editForm.controls.outstandingBalance?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.outstandingBalance?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.outstandingBalance?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.supplierTransactions.finalizationDate" for="field_finalizationDate">Finalization Date</label>
                    <div class="input-group">
                        <input id="field_finalizationDate" type="text" class="form-control" name="finalizationDate" ngbDatepicker  #finalizationDateDp="ngbDatepicker" [(ngModel)]="supplierTransactions.finalizationDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="finalizationDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.supplierTransactions.isFinalized" for="field_isFinalized">Is Finalized</label>
                    <input type="checkbox" class="form-control" name="isFinalized" id="field_isFinalized"
                        [(ngModel)]="supplierTransactions.isFinalized" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.supplierTransactions.supplier" for="field_supplier">Supplier</label>
                    <select class="form-control" id="field_supplier" name="supplier" [(ngModel)]="supplierTransactions.supplierId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="suppliersOption.id" *ngFor="let suppliersOption of suppliers; trackBy: trackSuppliersById">{{suppliersOption.supplierName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.supplierTransactions.transactionType" for="field_transactionType">Transaction Type</label>
                    <select class="form-control" id="field_transactionType" name="transactionType" [(ngModel)]="supplierTransactions.transactionTypeId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="transactionTypesOption.id" *ngFor="let transactionTypesOption of transactiontypes; trackBy: trackTransactionTypesById">{{transactionTypesOption.transactionTypeName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.supplierTransactions.purchaseOrder" for="field_purchaseOrder">Purchase Order</label>
                    <select class="form-control" id="field_purchaseOrder" name="purchaseOrder" [(ngModel)]="supplierTransactions.purchaseOrderId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="purchaseOrdersOption.id" *ngFor="let purchaseOrdersOption of purchaseorders; trackBy: trackPurchaseOrdersById">{{purchaseOrdersOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.supplierTransactions.paymentMethod" for="field_paymentMethod">Payment Method</label>
                    <select class="form-control" id="field_paymentMethod" name="paymentMethod" [(ngModel)]="supplierTransactions.paymentMethodId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="paymentMethodsOption.id" *ngFor="let paymentMethodsOption of paymentmethods; trackBy: trackPaymentMethodsById">{{paymentMethodsOption.paymentMethodName}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
