<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-customer-transactions-heading" jhiTranslate="resourceApp.customerTransactions.home.createOrEditLabel">Create or edit a Customer Transactions</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!customerTransactions.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="customerTransactions.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.customerTransactions.transactionDate" for="field_transactionDate">Transaction Date</label>
                    <div class="input-group">
                        <input id="field_transactionDate" type="text" class="form-control" name="transactionDate" ngbDatepicker  #transactionDateDp="ngbDatepicker" [(ngModel)]="customerTransactions.transactionDate"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="transactionDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.transactionDate?.dirty && editForm.controls.transactionDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.transactionDate?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.customerTransactions.amountExcludingTax" for="field_amountExcludingTax">Amount Excluding Tax</label>
                    <input type="number" class="form-control" name="amountExcludingTax" id="field_amountExcludingTax"
                        [(ngModel)]="customerTransactions.amountExcludingTax" required/>
                    <div [hidden]="!(editForm.controls.amountExcludingTax?.dirty && editForm.controls.amountExcludingTax?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.amountExcludingTax?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.amountExcludingTax?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.customerTransactions.taxAmount" for="field_taxAmount">Tax Amount</label>
                    <input type="number" class="form-control" name="taxAmount" id="field_taxAmount"
                        [(ngModel)]="customerTransactions.taxAmount" required/>
                    <div [hidden]="!(editForm.controls.taxAmount?.dirty && editForm.controls.taxAmount?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.taxAmount?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.taxAmount?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.customerTransactions.transactionAmount" for="field_transactionAmount">Transaction Amount</label>
                    <input type="number" class="form-control" name="transactionAmount" id="field_transactionAmount"
                        [(ngModel)]="customerTransactions.transactionAmount" required/>
                    <div [hidden]="!(editForm.controls.transactionAmount?.dirty && editForm.controls.transactionAmount?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.transactionAmount?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.transactionAmount?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.customerTransactions.outstandingBalance" for="field_outstandingBalance">Outstanding Balance</label>
                    <input type="number" class="form-control" name="outstandingBalance" id="field_outstandingBalance"
                        [(ngModel)]="customerTransactions.outstandingBalance" required/>
                    <div [hidden]="!(editForm.controls.outstandingBalance?.dirty && editForm.controls.outstandingBalance?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.outstandingBalance?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.outstandingBalance?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.customerTransactions.finalizationDate" for="field_finalizationDate">Finalization Date</label>
                    <div class="input-group">
                        <input id="field_finalizationDate" type="text" class="form-control" name="finalizationDate" ngbDatepicker  #finalizationDateDp="ngbDatepicker" [(ngModel)]="customerTransactions.finalizationDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="finalizationDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.customerTransactions.isFinalized" for="field_isFinalized">Is Finalized</label>
                    <input type="checkbox" class="form-control" name="isFinalized" id="field_isFinalized"
                        [(ngModel)]="customerTransactions.isFinalized" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.customerTransactions.customer" for="field_customer">Customer</label>
                    <select class="form-control" id="field_customer" name="customer" [(ngModel)]="customerTransactions.customerId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="customersOption.id" *ngFor="let customersOption of customers; trackBy: trackCustomersById">{{customersOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.customerTransactions.paymentMethod" for="field_paymentMethod">Payment Method</label>
                    <select class="form-control" id="field_paymentMethod" name="paymentMethod" [(ngModel)]="customerTransactions.paymentMethodId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="paymentMethodsOption.id" *ngFor="let paymentMethodsOption of paymentmethods; trackBy: trackPaymentMethodsById">{{paymentMethodsOption.paymentMethodName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.customerTransactions.paymentTransaction" for="field_paymentTransaction">Payment Transaction</label>
                    <select class="form-control" id="field_paymentTransaction" name="paymentTransaction" [(ngModel)]="customerTransactions.paymentTransactionId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="paymentTransactionsOption.id" *ngFor="let paymentTransactionsOption of paymenttransactions; trackBy: trackPaymentTransactionsById">{{paymentTransactionsOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.customerTransactions.transactionType" for="field_transactionType">Transaction Type</label>
                    <select class="form-control" id="field_transactionType" name="transactionType" [(ngModel)]="customerTransactions.transactionTypeId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="transactionTypesOption.id" *ngFor="let transactionTypesOption of transactiontypes; trackBy: trackTransactionTypesById">{{transactionTypesOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.customerTransactions.invoice" for="field_invoice">Invoice</label>
                    <select class="form-control" id="field_invoice" name="invoice" [(ngModel)]="customerTransactions.invoiceId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="invoicesOption.id" *ngFor="let invoicesOption of invoices; trackBy: trackInvoicesById">{{invoicesOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
