<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="customerTransactions">
            <h2><span jhiTranslate="resourceApp.customerTransactions.detail.title">Customer Transactions</span> {{customerTransactions.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="resourceApp.customerTransactions.transactionDate">Transaction Date</span></dt>
                <dd>
                    <span>{{customerTransactions.transactionDate}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.customerTransactions.amountExcludingTax">Amount Excluding Tax</span></dt>
                <dd>
                    <span>{{customerTransactions.amountExcludingTax}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.customerTransactions.taxAmount">Tax Amount</span></dt>
                <dd>
                    <span>{{customerTransactions.taxAmount}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.customerTransactions.transactionAmount">Transaction Amount</span></dt>
                <dd>
                    <span>{{customerTransactions.transactionAmount}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.customerTransactions.outstandingBalance">Outstanding Balance</span></dt>
                <dd>
                    <span>{{customerTransactions.outstandingBalance}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.customerTransactions.finalizationDate">Finalization Date</span></dt>
                <dd>
                    <span>{{customerTransactions.finalizationDate}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.customerTransactions.isFinalized">Is Finalized</span></dt>
                <dd>
                    <span>{{customerTransactions.isFinalized}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.customerTransactions.customer">Customer</span></dt>
                <dd>
                    <div *ngIf="customerTransactions.customerId">
                        <a [routerLink]="['/customers', customerTransactions.customerId, 'view']">{{customerTransactions.customerId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="resourceApp.customerTransactions.paymentMethod">Payment Method</span></dt>
                <dd>
                    <div *ngIf="customerTransactions.paymentMethodId">
                        <a [routerLink]="['/payment-methods', customerTransactions.paymentMethodId, 'view']">{{customerTransactions.paymentMethodPaymentMethodName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="resourceApp.customerTransactions.paymentTransaction">Payment Transaction</span></dt>
                <dd>
                    <div *ngIf="customerTransactions.paymentTransactionId">
                        <a [routerLink]="['/payment-transactions', customerTransactions.paymentTransactionId, 'view']">{{customerTransactions.paymentTransactionId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="resourceApp.customerTransactions.transactionType">Transaction Type</span></dt>
                <dd>
                    <div *ngIf="customerTransactions.transactionTypeId">
                        <a [routerLink]="['/transaction-types', customerTransactions.transactionTypeId, 'view']">{{customerTransactions.transactionTypeId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="resourceApp.customerTransactions.invoice">Invoice</span></dt>
                <dd>
                    <div *ngIf="customerTransactions.invoiceId">
                        <a [routerLink]="['/invoices', customerTransactions.invoiceId, 'view']">{{customerTransactions.invoiceId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/customer-transactions', customerTransactions.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
