<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="products">
            <h2><span jhiTranslate="resourceApp.products.detail.title">Products</span> {{products.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="resourceApp.products.productName">Product Name</span></dt>
                <dd>
                    <span>{{products.productName}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.productNumber">Product Number</span></dt>
                <dd>
                    <span>{{products.productNumber}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.searchDetails">Search Details</span></dt>
                <dd>
                    <span>{{products.searchDetails}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.thumbnailUrl">Thumbnail Url</span></dt>
                <dd>
                    <span>{{products.thumbnailUrl}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.sellStartDate">Sell Start Date</span></dt>
                <dd>
                    <span>{{products.sellStartDate}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.sellEndDate">Sell End Date</span></dt>
                <dd>
                    <span>{{products.sellEndDate}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.warrantyPeriod">Warranty Period</span></dt>
                <dd>
                    <span>{{products.warrantyPeriod}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.warrantyPolicy">Warranty Policy</span></dt>
                <dd>
                    <span>{{products.warrantyPolicy}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.sellCount">Sell Count</span></dt>
                <dd>
                    <span>{{products.sellCount}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.whatInTheBox">What In The Box</span></dt>
                <dd>
                    <span>{{products.whatInTheBox}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.supplier">Supplier</span></dt>
                <dd>
                    <div *ngIf="products.supplierId">
                        <a [routerLink]="['/suppliers', products.supplierId, 'view']">{{products.supplierSupplierName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.merchant">Merchant</span></dt>
                <dd>
                    <div *ngIf="products.merchantId">
                        <a [routerLink]="['/merchants', products.merchantId, 'view']">{{products.merchantMerchantName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.unitPackage">Unit Package</span></dt>
                <dd>
                    <div *ngIf="products.unitPackageId">
                        <a [routerLink]="['/package-types', products.unitPackageId, 'view']">{{products.unitPackagePackageTypeName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.outerPackage">Outer Package</span></dt>
                <dd>
                    <div *ngIf="products.outerPackageId">
                        <a [routerLink]="['/package-types', products.outerPackageId, 'view']">{{products.outerPackagePackageTypeName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.productModel">Product Model</span></dt>
                <dd>
                    <div *ngIf="products.productModelId">
                        <a [routerLink]="['/product-model', products.productModelId, 'view']">{{products.productModelProductModelName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.productCategory">Product Category</span></dt>
                <dd>
                    <div *ngIf="products.productCategoryId">
                        <a [routerLink]="['/product-category', products.productCategoryId, 'view']">{{products.productCategoryName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.productBrand">Product Brand</span></dt>
                <dd>
                    <div *ngIf="products.productBrandId">
                        <a [routerLink]="['/product-brand', products.productBrandId, 'view']">{{products.productBrandProductBrandName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.warrantyType">Warranty Type</span></dt>
                <dd>
                    <div *ngIf="products.warrantyTypeId">
                        <a [routerLink]="['/warranty-types', products.warrantyTypeId, 'view']">{{products.warrantyTypeWarrantyTypeName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/products', products.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
