<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="products">
            <h2><span jhiTranslate="resourceApp.products.detail.title">Products</span> {{products.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="resourceApp.products.productName">Product Name</span></dt>
                <dd>
                    <span>{{products.productName}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.productNumber">Product Number</span></dt>
                <dd>
                    <span>{{products.productNumber}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.searchDetails">Search Details</span></dt>
                <dd>
                    <span>{{products.searchDetails}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.makeFlag">Make Flag</span></dt>
                <dd>
                    <span>{{products.makeFlag}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.finishedGoodsFlag">Finished Goods Flag</span></dt>
                <dd>
                    <span>{{products.finishedGoodsFlag}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.color">Color</span></dt>
                <dd>
                    <span>{{products.color}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.safetyStockLevel">Safety Stock Level</span></dt>
                <dd>
                    <span>{{products.safetyStockLevel}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.reorderPoint">Reorder Point</span></dt>
                <dd>
                    <span>{{products.reorderPoint}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.standardCost">Standard Cost</span></dt>
                <dd>
                    <span>{{products.standardCost}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.unitPrice">Unit Price</span></dt>
                <dd>
                    <span>{{products.unitPrice}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.recommendedRetailPrice">Recommended Retail Price</span></dt>
                <dd>
                    <span>{{products.recommendedRetailPrice}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.brand">Brand</span></dt>
                <dd>
                    <span>{{products.brand}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.specifySize">Specify Size</span></dt>
                <dd>
                    <span>{{products.specifySize}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.weight">Weight</span></dt>
                <dd>
                    <span>{{products.weight}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.daysToManufacture">Days To Manufacture</span></dt>
                <dd>
                    <span>{{products.daysToManufacture}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.productLine">Product Line</span></dt>
                <dd>
                    <span>{{products.productLine}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.classType">Class Type</span></dt>
                <dd>
                    <span>{{products.classType}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.style">Style</span></dt>
                <dd>
                    <span>{{products.style}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.customFields">Custom Fields</span></dt>
                <dd>
                    <span>{{products.customFields}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.photo">Photo</span></dt>
                <dd>
                    <span>{{products.photo}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.sellStartDate">Sell Start Date</span></dt>
                <dd>
                    <span>{{products.sellStartDate}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.sellEndDate">Sell End Date</span></dt>
                <dd>
                    <span>{{products.sellEndDate}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.marketingComments">Marketing Comments</span></dt>
                <dd>
                    <span>{{products.marketingComments}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.internalComments">Internal Comments</span></dt>
                <dd>
                    <span>{{products.internalComments}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.discontinuedDate">Discontinued Date</span></dt>
                <dd>
                    <span>{{products.discontinuedDate}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.sellCount">Sell Count</span></dt>
                <dd>
                    <span>{{products.sellCount}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.reviewLine">Review Line</span></dt>
                <dd>
                    <div *ngIf="products.reviewLineId">
                        <a [routerLink]="['/review-lines', products.reviewLineId, 'view']">{{products.reviewLineId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.unitPackage">Unit Package</span></dt>
                <dd>
                    <div *ngIf="products.unitPackageId">
                        <a [routerLink]="['/package-types', products.unitPackageId, 'view']">{{products.unitPackagePackageTypeName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.outerPackage">Outer Package</span></dt>
                <dd>
                    <div *ngIf="products.outerPackageId">
                        <a [routerLink]="['/package-types', products.outerPackageId, 'view']">{{products.outerPackagePackageTypeName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.supplier">Supplier</span></dt>
                <dd>
                    <div *ngIf="products.supplierId">
                        <a [routerLink]="['/suppliers', products.supplierId, 'view']">{{products.supplierSupplierName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.merchant">Merchant</span></dt>
                <dd>
                    <div *ngIf="products.merchantId">
                        <a [routerLink]="['/merchants', products.merchantId, 'view']">{{products.merchantMerchantName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.productSubCategory">Product Sub Category</span></dt>
                <dd>
                    <div *ngIf="products.productSubCategoryId">
                        <a [routerLink]="['/product-sub-category', products.productSubCategoryId, 'view']">{{products.productSubCategoryProductSubCategoryName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.sizeUnitMeasureCode">Size Unit Measure Code</span></dt>
                <dd>
                    <div *ngIf="products.sizeUnitMeasureCodeId">
                        <a [routerLink]="['/unit-measure', products.sizeUnitMeasureCodeId, 'view']">{{products.sizeUnitMeasureCodeUnitMeasureCode}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.weightUnitMeasureCode">Weight Unit Measure Code</span></dt>
                <dd>
                    <div *ngIf="products.weightUnitMeasureCodeId">
                        <a [routerLink]="['/unit-measure', products.weightUnitMeasureCodeId, 'view']">{{products.weightUnitMeasureCodeUnitMeasureCode}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="resourceApp.products.productModel">Product Model</span></dt>
                <dd>
                    <div *ngIf="products.productModelId">
                        <a [routerLink]="['/product-model', products.productModelId, 'view']">{{products.productModelProductModelName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/products', products.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
