<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-products-heading" jhiTranslate="resourceApp.products.home.createOrEditLabel">Create or edit a Products</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!products.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="products.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.productName" for="field_productName">Product Name</label>
                    <input type="text" class="form-control" name="productName" id="field_productName"
                        [(ngModel)]="products.productName" required/>
                    <div [hidden]="!(editForm.controls.productName?.dirty && editForm.controls.productName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.productName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.productNumber" for="field_productNumber">Product Number</label>
                    <input type="text" class="form-control" name="productNumber" id="field_productNumber"
                        [(ngModel)]="products.productNumber" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.searchDetails" for="field_searchDetails">Search Details</label>
                    <input type="text" class="form-control" name="searchDetails" id="field_searchDetails"
                        [(ngModel)]="products.searchDetails" required/>
                    <div [hidden]="!(editForm.controls.searchDetails?.dirty && editForm.controls.searchDetails?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.searchDetails?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.makeFlag" for="field_makeFlag">Make Flag</label>
                    <input type="checkbox" class="form-control" name="makeFlag" id="field_makeFlag"
                        [(ngModel)]="products.makeFlag" />
                    <div [hidden]="!(editForm.controls.makeFlag?.dirty && editForm.controls.makeFlag?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.makeFlag?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.finishedGoodsFlag" for="field_finishedGoodsFlag">Finished Goods Flag</label>
                    <input type="checkbox" class="form-control" name="finishedGoodsFlag" id="field_finishedGoodsFlag"
                        [(ngModel)]="products.finishedGoodsFlag" />
                    <div [hidden]="!(editForm.controls.finishedGoodsFlag?.dirty && editForm.controls.finishedGoodsFlag?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.finishedGoodsFlag?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.color" for="field_color">Color</label>
                    <input type="text" class="form-control" name="color" id="field_color"
                        [(ngModel)]="products.color" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.safetyStockLevel" for="field_safetyStockLevel">Safety Stock Level</label>
                    <input type="number" class="form-control" name="safetyStockLevel" id="field_safetyStockLevel"
                        [(ngModel)]="products.safetyStockLevel" required/>
                    <div [hidden]="!(editForm.controls.safetyStockLevel?.dirty && editForm.controls.safetyStockLevel?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.safetyStockLevel?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.safetyStockLevel?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.reorderPoint" for="field_reorderPoint">Reorder Point</label>
                    <input type="number" class="form-control" name="reorderPoint" id="field_reorderPoint"
                        [(ngModel)]="products.reorderPoint" required/>
                    <div [hidden]="!(editForm.controls.reorderPoint?.dirty && editForm.controls.reorderPoint?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.reorderPoint?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.reorderPoint?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.standardCost" for="field_standardCost">Standard Cost</label>
                    <input type="number" class="form-control" name="standardCost" id="field_standardCost"
                        [(ngModel)]="products.standardCost" required/>
                    <div [hidden]="!(editForm.controls.standardCost?.dirty && editForm.controls.standardCost?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.standardCost?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.standardCost?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.unitPrice" for="field_unitPrice">Unit Price</label>
                    <input type="number" class="form-control" name="unitPrice" id="field_unitPrice"
                        [(ngModel)]="products.unitPrice" required/>
                    <div [hidden]="!(editForm.controls.unitPrice?.dirty && editForm.controls.unitPrice?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.unitPrice?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.unitPrice?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.recommendedRetailPrice" for="field_recommendedRetailPrice">Recommended Retail Price</label>
                    <input type="number" class="form-control" name="recommendedRetailPrice" id="field_recommendedRetailPrice"
                        [(ngModel)]="products.recommendedRetailPrice" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.brand" for="field_brand">Brand</label>
                    <input type="text" class="form-control" name="brand" id="field_brand"
                        [(ngModel)]="products.brand" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.specifySize" for="field_specifySize">Specify Size</label>
                    <input type="text" class="form-control" name="specifySize" id="field_specifySize"
                        [(ngModel)]="products.specifySize" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.weight" for="field_weight">Weight</label>
                    <input type="number" class="form-control" name="weight" id="field_weight"
                        [(ngModel)]="products.weight" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.daysToManufacture" for="field_daysToManufacture">Days To Manufacture</label>
                    <input type="number" class="form-control" name="daysToManufacture" id="field_daysToManufacture"
                        [(ngModel)]="products.daysToManufacture" required/>
                    <div [hidden]="!(editForm.controls.daysToManufacture?.dirty && editForm.controls.daysToManufacture?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.daysToManufacture?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.daysToManufacture?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.productLine" for="field_productLine">Product Line</label>
                    <input type="text" class="form-control" name="productLine" id="field_productLine"
                        [(ngModel)]="products.productLine" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.classType" for="field_classType">Class Type</label>
                    <input type="text" class="form-control" name="classType" id="field_classType"
                        [(ngModel)]="products.classType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.style" for="field_style">Style</label>
                    <input type="text" class="form-control" name="style" id="field_style"
                        [(ngModel)]="products.style" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.customFields" for="field_customFields">Custom Fields</label>
                    <input type="text" class="form-control" name="customFields" id="field_customFields"
                        [(ngModel)]="products.customFields" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.tags" for="field_tags">Tags</label>
                    <input type="text" class="form-control" name="tags" id="field_tags"
                        [(ngModel)]="products.tags" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.photo" for="field_photo">Photo</label>
                    <input type="text" class="form-control" name="photo" id="field_photo"
                        [(ngModel)]="products.photo" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.sellStartDate" for="field_sellStartDate">Sell Start Date</label>
                    <div class="input-group">
                        <input id="field_sellStartDate" type="text" class="form-control" name="sellStartDate" ngbDatepicker  #sellStartDateDp="ngbDatepicker" [(ngModel)]="products.sellStartDate"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="sellStartDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.sellStartDate?.dirty && editForm.controls.sellStartDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.sellStartDate?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.sellEndDate" for="field_sellEndDate">Sell End Date</label>
                    <div class="input-group">
                        <input id="field_sellEndDate" type="text" class="form-control" name="sellEndDate" ngbDatepicker  #sellEndDateDp="ngbDatepicker" [(ngModel)]="products.sellEndDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="sellEndDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.marketingComments" for="field_marketingComments">Marketing Comments</label>
                    <input type="text" class="form-control" name="marketingComments" id="field_marketingComments"
                        [(ngModel)]="products.marketingComments" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.internalComments" for="field_internalComments">Internal Comments</label>
                    <input type="text" class="form-control" name="internalComments" id="field_internalComments"
                        [(ngModel)]="products.internalComments" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.discontinuedDate" for="field_discontinuedDate">Discontinued Date</label>
                    <div class="input-group">
                        <input id="field_discontinuedDate" type="text" class="form-control" name="discontinuedDate" ngbDatepicker  #discontinuedDateDp="ngbDatepicker" [(ngModel)]="products.discontinuedDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="discontinuedDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.sellCount" for="field_sellCount">Sell Count</label>
                    <input type="number" class="form-control" name="sellCount" id="field_sellCount"
                        [(ngModel)]="products.sellCount" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.unitPackage" for="field_unitPackage">Unit Package</label>
                    <select class="form-control" id="field_unitPackage" name="unitPackage" [(ngModel)]="products.unitPackageId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="packageTypesOption.id" *ngFor="let packageTypesOption of packagetypes; trackBy: trackPackageTypesById">{{packageTypesOption.packageTypeName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.outerPackage" for="field_outerPackage">Outer Package</label>
                    <select class="form-control" id="field_outerPackage" name="outerPackage" [(ngModel)]="products.outerPackageId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="packageTypesOption.id" *ngFor="let packageTypesOption of packagetypes; trackBy: trackPackageTypesById">{{packageTypesOption.packageTypeName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.supplier" for="field_supplier">Supplier</label>
                    <select class="form-control" id="field_supplier" name="supplier" [(ngModel)]="products.supplierId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="suppliersOption.id" *ngFor="let suppliersOption of suppliers; trackBy: trackSuppliersById">{{suppliersOption.supplierName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.productSubCategory" for="field_productSubCategory">Product Sub Category</label>
                    <select class="form-control" id="field_productSubCategory" name="productSubCategory" [(ngModel)]="products.productSubCategoryId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productSubCategoryOption.id" *ngFor="let productSubCategoryOption of productsubcategories; trackBy: trackProductSubCategoryById">{{productSubCategoryOption.productSubCategoryName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.sizeUnitMeasureCode" for="field_sizeUnitMeasureCode">Size Unit Measure Code</label>
                    <select class="form-control" id="field_sizeUnitMeasureCode" name="sizeUnitMeasureCode" [(ngModel)]="products.sizeUnitMeasureCodeId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="unitMeasureOption.id" *ngFor="let unitMeasureOption of unitmeasures; trackBy: trackUnitMeasureById">{{unitMeasureOption.unitMeasureCode}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.weightUnitMeasureCode" for="field_weightUnitMeasureCode">Weight Unit Measure Code</label>
                    <select class="form-control" id="field_weightUnitMeasureCode" name="weightUnitMeasureCode" [(ngModel)]="products.weightUnitMeasureCodeId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="unitMeasureOption.id" *ngFor="let unitMeasureOption of unitmeasures; trackBy: trackUnitMeasureById">{{unitMeasureOption.unitMeasureCode}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.productModel" for="field_productModel">Product Model</label>
                    <select class="form-control" id="field_productModel" name="productModel" [(ngModel)]="products.productModelId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productModelOption.id" *ngFor="let productModelOption of productmodels; trackBy: trackProductModelById">{{productModelOption.productModelName}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
