<div>
    <h2 id="page-heading">
        <span jhiTranslate="resourceApp.products.home.title">Products</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-products" [routerLink]="['/products/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="resourceApp.products.home.createLabel">
            Create new Products
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="products">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="productName"><span jhiTranslate="resourceApp.products.productName">Product Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="handle"><span jhiTranslate="resourceApp.products.handle">Handle</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="productNumber"><span jhiTranslate="resourceApp.products.productNumber">Product Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="searchDetails"><span jhiTranslate="resourceApp.products.searchDetails">Search Details</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sellCount"><span jhiTranslate="resourceApp.products.sellCount">Sell Count</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="activeInd"><span jhiTranslate="resourceApp.products.activeInd">Active Ind</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="documentId"><span jhiTranslate="resourceApp.products.document">Document</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="supplierSupplierName"><span jhiTranslate="resourceApp.products.supplier">Supplier</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="productCategoryName"><span jhiTranslate="resourceApp.products.productCategory">Product Category</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="productBrandProductBrandName"><span jhiTranslate="resourceApp.products.productBrand">Product Brand</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let products of products ;trackBy: trackId">
                <td><a [routerLink]="['/products', products.id, 'view' ]">{{products.id}}</a></td>
                <td>{{products.productName}}</td>
                <td>{{products.handle}}</td>
                <td>{{products.productNumber}}</td>
                <td>{{products.searchDetails}}</td>
                <td>{{products.sellCount}}</td>
                <td>{{products.activeInd}}</td>
                <td>
                    <div *ngIf="products.documentId">
                        <a [routerLink]="['../product-document', products.documentId , 'view' ]" >{{products.documentId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="products.supplierId">
                        <a [routerLink]="['../suppliers', products.supplierId , 'view' ]" >{{products.supplierSupplierName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="products.productCategoryId">
                        <a [routerLink]="['../product-category', products.productCategoryId , 'view' ]" >{{products.productCategoryName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="products.productBrandId">
                        <a [routerLink]="['../product-brand', products.productBrandId , 'view' ]" >{{products.productBrandProductBrandName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/products', products.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/products', products.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'products', { outlets: { popup: products.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="products && products.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
