<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-products-heading" jhiTranslate="resourceApp.products.home.createOrEditLabel">Create or edit a Products</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!products.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="products.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.productName" for="field_productName">Product Name</label>
                    <input type="text" class="form-control" name="productName" id="field_productName"
                        [(ngModel)]="products.productName" required/>
                    <div [hidden]="!(editForm.controls.productName?.dirty && editForm.controls.productName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.productName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.productNumber" for="field_productNumber">Product Number</label>
                    <input type="text" class="form-control" name="productNumber" id="field_productNumber"
                        [(ngModel)]="products.productNumber" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.searchDetails" for="field_searchDetails">Search Details</label>
                    <input type="text" class="form-control" name="searchDetails" id="field_searchDetails"
                        [(ngModel)]="products.searchDetails" required/>
                    <div [hidden]="!(editForm.controls.searchDetails?.dirty && editForm.controls.searchDetails?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.searchDetails?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.thumbnailUrl" for="field_thumbnailUrl">Thumbnail Url</label>
                    <input type="text" class="form-control" name="thumbnailUrl" id="field_thumbnailUrl"
                        [(ngModel)]="products.thumbnailUrl" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.sellStartDate" for="field_sellStartDate">Sell Start Date</label>
                    <div class="input-group">
                        <input id="field_sellStartDate" type="text" class="form-control" name="sellStartDate" ngbDatepicker  #sellStartDateDp="ngbDatepicker" [(ngModel)]="products.sellStartDate"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="sellStartDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.sellStartDate?.dirty && editForm.controls.sellStartDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.sellStartDate?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.sellEndDate" for="field_sellEndDate">Sell End Date</label>
                    <div class="input-group">
                        <input id="field_sellEndDate" type="text" class="form-control" name="sellEndDate" ngbDatepicker  #sellEndDateDp="ngbDatepicker" [(ngModel)]="products.sellEndDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="sellEndDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.warrantyPeriod" for="field_warrantyPeriod">Warranty Period</label>
                    <input type="text" class="form-control" name="warrantyPeriod" id="field_warrantyPeriod"
                        [(ngModel)]="products.warrantyPeriod" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.warrantyPolicy" for="field_warrantyPolicy">Warranty Policy</label>
                    <input type="text" class="form-control" name="warrantyPolicy" id="field_warrantyPolicy"
                        [(ngModel)]="products.warrantyPolicy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.sellCount" for="field_sellCount">Sell Count</label>
                    <input type="number" class="form-control" name="sellCount" id="field_sellCount"
                        [(ngModel)]="products.sellCount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.whatInTheBox" for="field_whatInTheBox">What In The Box</label>
                    <input type="text" class="form-control" name="whatInTheBox" id="field_whatInTheBox"
                        [(ngModel)]="products.whatInTheBox" required/>
                    <div [hidden]="!(editForm.controls.whatInTheBox?.dirty && editForm.controls.whatInTheBox?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.whatInTheBox?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.supplier" for="field_supplier">Supplier</label>
                    <select class="form-control" id="field_supplier" name="supplier" [(ngModel)]="products.supplierId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="suppliersOption.id" *ngFor="let suppliersOption of suppliers; trackBy: trackSuppliersById">{{suppliersOption.supplierName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.merchant" for="field_merchant">Merchant</label>
                    <select class="form-control" id="field_merchant" name="merchant" [(ngModel)]="products.merchantId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="merchantsOption.id" *ngFor="let merchantsOption of merchants; trackBy: trackMerchantsById">{{merchantsOption.merchantName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.unitPackage" for="field_unitPackage">Unit Package</label>
                    <select class="form-control" id="field_unitPackage" name="unitPackage" [(ngModel)]="products.unitPackageId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="packageTypesOption.id" *ngFor="let packageTypesOption of packagetypes; trackBy: trackPackageTypesById">{{packageTypesOption.packageTypeName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.outerPackage" for="field_outerPackage">Outer Package</label>
                    <select class="form-control" id="field_outerPackage" name="outerPackage" [(ngModel)]="products.outerPackageId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="packageTypesOption.id" *ngFor="let packageTypesOption of packagetypes; trackBy: trackPackageTypesById">{{packageTypesOption.packageTypeName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.productModel" for="field_productModel">Product Model</label>
                    <select class="form-control" id="field_productModel" name="productModel" [(ngModel)]="products.productModelId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productModelOption.id" *ngFor="let productModelOption of productmodels; trackBy: trackProductModelById">{{productModelOption.productModelName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.productCategory" for="field_productCategory">Product Category</label>
                    <select class="form-control" id="field_productCategory" name="productCategory" [(ngModel)]="products.productCategoryId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productCategoryOption.id" *ngFor="let productCategoryOption of productcategories; trackBy: trackProductCategoryById">{{productCategoryOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.productBrand" for="field_productBrand">Product Brand</label>
                    <select class="form-control" id="field_productBrand" name="productBrand" [(ngModel)]="products.productBrandId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productBrandOption.id" *ngFor="let productBrandOption of productbrands; trackBy: trackProductBrandById">{{productBrandOption.productBrandName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.products.warrantyType" for="field_warrantyType">Warranty Type</label>
                    <select class="form-control" id="field_warrantyType" name="warrantyType" [(ngModel)]="products.warrantyTypeId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="warrantyTypesOption.id" *ngFor="let warrantyTypesOption of warrantytypes; trackBy: trackWarrantyTypesById">{{warrantyTypesOption.warrantyTypeName}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
