<div>
    <h2 id="page-heading">
        <span jhiTranslate="resourceApp.reviewLines.home.title">Review Lines</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-review-lines" [routerLink]="['/review-lines/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="resourceApp.reviewLines.home.createLabel">
            Create new Review Lines
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="reviewLines">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="resourceApp.reviewLines.productRating">Product Rating</span></th>
            <th><span jhiTranslate="resourceApp.reviewLines.productReview">Product Review</span></th>
            <th><span jhiTranslate="resourceApp.reviewLines.sellerRating">Seller Rating</span></th>
            <th><span jhiTranslate="resourceApp.reviewLines.sellerReview">Seller Review</span></th>
            <th><span jhiTranslate="resourceApp.reviewLines.deliveryRating">Delivery Rating</span></th>
            <th><span jhiTranslate="resourceApp.reviewLines.deliveryReview">Delivery Review</span></th>
            <th><span jhiTranslate="resourceApp.reviewLines.photo">Photo</span></th>
            <th><span jhiTranslate="resourceApp.reviewLines.product">Product</span></th>
            <th><span jhiTranslate="resourceApp.reviewLines.review">Review</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reviewLines of reviewLines ;trackBy: trackId">
                <td><a [routerLink]="['/review-lines', reviewLines.id, 'view' ]">{{reviewLines.id}}</a></td>
                <td>{{reviewLines.productRating}}</td>
                <td>{{reviewLines.productReview}}</td>
                <td>{{reviewLines.sellerRating}}</td>
                <td>{{reviewLines.sellerReview}}</td>
                <td>{{reviewLines.deliveryRating}}</td>
                <td>{{reviewLines.deliveryReview}}</td>
                <td>
                    <a *ngIf="reviewLines.photo" (click)="openFile(reviewLines.photoContentType, reviewLines.photo)">
                        <img [src]="'data:' + reviewLines.photoContentType + ';base64,' + reviewLines.photo" style="max-height: 30px;" alt="reviewLines image"/>
                    </a>
                    <span *ngIf="reviewLines.photo">{{reviewLines.photoContentType}}, {{byteSize(reviewLines.photo)}}</span>
                </td>
                <td>
                    <div *ngIf="reviewLines.productId">
                        <a [routerLink]="['../products', reviewLines.productId , 'view' ]" >{{reviewLines.productProductName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="reviewLines.reviewId">
                        <a [routerLink]="['../reviews', reviewLines.reviewId , 'view' ]" >{{reviewLines.reviewId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/review-lines', reviewLines.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/review-lines', reviewLines.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'review-lines', { outlets: { popup: reviewLines.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
