<div>
    <h2 id="page-heading">
        <span jhiTranslate="resourceApp.invoiceLines.home.title">Invoice Lines</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-invoice-lines" [routerLink]="['/invoice-lines/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="resourceApp.invoiceLines.home.createLabel">
            Create new Invoice Lines
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="invoiceLines">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="resourceApp.invoiceLines.description">Description</span></th>
            <th><span jhiTranslate="resourceApp.invoiceLines.quantity">Quantity</span></th>
            <th><span jhiTranslate="resourceApp.invoiceLines.unitPrice">Unit Price</span></th>
            <th><span jhiTranslate="resourceApp.invoiceLines.taxRate">Tax Rate</span></th>
            <th><span jhiTranslate="resourceApp.invoiceLines.taxAmount">Tax Amount</span></th>
            <th><span jhiTranslate="resourceApp.invoiceLines.lineProfit">Line Profit</span></th>
            <th><span jhiTranslate="resourceApp.invoiceLines.extendedPrice">Extended Price</span></th>
            <th><span jhiTranslate="resourceApp.invoiceLines.packageType">Package Type</span></th>
            <th><span jhiTranslate="resourceApp.invoiceLines.stockItem">Stock Item</span></th>
            <th><span jhiTranslate="resourceApp.invoiceLines.invoice">Invoice</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let invoiceLines of invoiceLines ;trackBy: trackId">
                <td><a [routerLink]="['/invoice-lines', invoiceLines.id, 'view' ]">{{invoiceLines.id}}</a></td>
                <td>{{invoiceLines.description}}</td>
                <td>{{invoiceLines.quantity}}</td>
                <td>{{invoiceLines.unitPrice}}</td>
                <td>{{invoiceLines.taxRate}}</td>
                <td>{{invoiceLines.taxAmount}}</td>
                <td>{{invoiceLines.lineProfit}}</td>
                <td>{{invoiceLines.extendedPrice}}</td>
                <td>
                    <div *ngIf="invoiceLines.packageTypeId">
                        <a [routerLink]="['../package-types', invoiceLines.packageTypeId , 'view' ]" >{{invoiceLines.packageTypePackageTypeName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="invoiceLines.stockItemId">
                        <a [routerLink]="['../stock-items', invoiceLines.stockItemId , 'view' ]" >{{invoiceLines.stockItemStockItemName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="invoiceLines.invoiceId">
                        <a [routerLink]="['../invoices', invoiceLines.invoiceId , 'view' ]" >{{invoiceLines.invoiceId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/invoice-lines', invoiceLines.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/invoice-lines', invoiceLines.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'invoice-lines', { outlets: { popup: invoiceLines.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
