<div>
    <h2 id="page-heading">
        <span jhiTranslate="resourceApp.photos.home.title">Photos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-photos" [routerLink]="['/photos/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="resourceApp.photos.home.createLabel">
            Create new Photos
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="photos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="resourceApp.photos.thumbnailPhoto">Thumbnail Photo</span></th>
            <th><span jhiTranslate="resourceApp.photos.originalPhoto">Original Photo</span></th>
            <th><span jhiTranslate="resourceApp.photos.bannerTallPhoto">Banner Tall Photo</span></th>
            <th><span jhiTranslate="resourceApp.photos.bannerWidePhoto">Banner Wide Photo</span></th>
            <th><span jhiTranslate="resourceApp.photos.circlePhoto">Circle Photo</span></th>
            <th><span jhiTranslate="resourceApp.photos.sharpenedPhoto">Sharpened Photo</span></th>
            <th><span jhiTranslate="resourceApp.photos.squarePhoto">Square Photo</span></th>
            <th><span jhiTranslate="resourceApp.photos.watermarkPhoto">Watermark Photo</span></th>
            <th><span jhiTranslate="resourceApp.photos.thumbnailPhotoBlob">Thumbnail Photo Blob</span></th>
            <th><span jhiTranslate="resourceApp.photos.originalPhotoBlob">Original Photo Blob</span></th>
            <th><span jhiTranslate="resourceApp.photos.bannerTallPhotoBlob">Banner Tall Photo Blob</span></th>
            <th><span jhiTranslate="resourceApp.photos.bannerWidePhotoBlob">Banner Wide Photo Blob</span></th>
            <th><span jhiTranslate="resourceApp.photos.circlePhotoBlob">Circle Photo Blob</span></th>
            <th><span jhiTranslate="resourceApp.photos.sharpenedPhotoBlob">Sharpened Photo Blob</span></th>
            <th><span jhiTranslate="resourceApp.photos.squarePhotoBlob">Square Photo Blob</span></th>
            <th><span jhiTranslate="resourceApp.photos.watermarkPhotoBlob">Watermark Photo Blob</span></th>
            <th><span jhiTranslate="resourceApp.photos.priority">Priority</span></th>
            <th><span jhiTranslate="resourceApp.photos.defaultInd">Default Ind</span></th>
            <th><span jhiTranslate="resourceApp.photos.deleteToken">Delete Token</span></th>
            <th><span jhiTranslate="resourceApp.photos.stockItem">Stock Item</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let photos of photos ;trackBy: trackId">
                <td><a [routerLink]="['/photos', photos.id, 'view' ]">{{photos.id}}</a></td>
                <td>{{photos.thumbnailPhoto}}</td>
                <td>{{photos.originalPhoto}}</td>
                <td>{{photos.bannerTallPhoto}}</td>
                <td>{{photos.bannerWidePhoto}}</td>
                <td>{{photos.circlePhoto}}</td>
                <td>{{photos.sharpenedPhoto}}</td>
                <td>{{photos.squarePhoto}}</td>
                <td>{{photos.watermarkPhoto}}</td>
                <td>
                    <a *ngIf="photos.thumbnailPhotoBlob" (click)="openFile(photos.thumbnailPhotoBlobContentType, photos.thumbnailPhotoBlob)">
                        <img [src]="'data:' + photos.thumbnailPhotoBlobContentType + ';base64,' + photos.thumbnailPhotoBlob" style="max-height: 30px;" alt="photos image"/>
                    </a>
                    <span *ngIf="photos.thumbnailPhotoBlob">{{photos.thumbnailPhotoBlobContentType}}, {{byteSize(photos.thumbnailPhotoBlob)}}</span>
                </td>
                <td>
                    <a *ngIf="photos.originalPhotoBlob" (click)="openFile(photos.originalPhotoBlobContentType, photos.originalPhotoBlob)">
                        <img [src]="'data:' + photos.originalPhotoBlobContentType + ';base64,' + photos.originalPhotoBlob" style="max-height: 30px;" alt="photos image"/>
                    </a>
                    <span *ngIf="photos.originalPhotoBlob">{{photos.originalPhotoBlobContentType}}, {{byteSize(photos.originalPhotoBlob)}}</span>
                </td>
                <td>
                    <a *ngIf="photos.bannerTallPhotoBlob" (click)="openFile(photos.bannerTallPhotoBlobContentType, photos.bannerTallPhotoBlob)">
                        <img [src]="'data:' + photos.bannerTallPhotoBlobContentType + ';base64,' + photos.bannerTallPhotoBlob" style="max-height: 30px;" alt="photos image"/>
                    </a>
                    <span *ngIf="photos.bannerTallPhotoBlob">{{photos.bannerTallPhotoBlobContentType}}, {{byteSize(photos.bannerTallPhotoBlob)}}</span>
                </td>
                <td>
                    <a *ngIf="photos.bannerWidePhotoBlob" (click)="openFile(photos.bannerWidePhotoBlobContentType, photos.bannerWidePhotoBlob)">
                        <img [src]="'data:' + photos.bannerWidePhotoBlobContentType + ';base64,' + photos.bannerWidePhotoBlob" style="max-height: 30px;" alt="photos image"/>
                    </a>
                    <span *ngIf="photos.bannerWidePhotoBlob">{{photos.bannerWidePhotoBlobContentType}}, {{byteSize(photos.bannerWidePhotoBlob)}}</span>
                </td>
                <td>
                    <a *ngIf="photos.circlePhotoBlob" (click)="openFile(photos.circlePhotoBlobContentType, photos.circlePhotoBlob)">
                        <img [src]="'data:' + photos.circlePhotoBlobContentType + ';base64,' + photos.circlePhotoBlob" style="max-height: 30px;" alt="photos image"/>
                    </a>
                    <span *ngIf="photos.circlePhotoBlob">{{photos.circlePhotoBlobContentType}}, {{byteSize(photos.circlePhotoBlob)}}</span>
                </td>
                <td>
                    <a *ngIf="photos.sharpenedPhotoBlob" (click)="openFile(photos.sharpenedPhotoBlobContentType, photos.sharpenedPhotoBlob)">
                        <img [src]="'data:' + photos.sharpenedPhotoBlobContentType + ';base64,' + photos.sharpenedPhotoBlob" style="max-height: 30px;" alt="photos image"/>
                    </a>
                    <span *ngIf="photos.sharpenedPhotoBlob">{{photos.sharpenedPhotoBlobContentType}}, {{byteSize(photos.sharpenedPhotoBlob)}}</span>
                </td>
                <td>
                    <a *ngIf="photos.squarePhotoBlob" (click)="openFile(photos.squarePhotoBlobContentType, photos.squarePhotoBlob)">
                        <img [src]="'data:' + photos.squarePhotoBlobContentType + ';base64,' + photos.squarePhotoBlob" style="max-height: 30px;" alt="photos image"/>
                    </a>
                    <span *ngIf="photos.squarePhotoBlob">{{photos.squarePhotoBlobContentType}}, {{byteSize(photos.squarePhotoBlob)}}</span>
                </td>
                <td>
                    <a *ngIf="photos.watermarkPhotoBlob" (click)="openFile(photos.watermarkPhotoBlobContentType, photos.watermarkPhotoBlob)">
                        <img [src]="'data:' + photos.watermarkPhotoBlobContentType + ';base64,' + photos.watermarkPhotoBlob" style="max-height: 30px;" alt="photos image"/>
                    </a>
                    <span *ngIf="photos.watermarkPhotoBlob">{{photos.watermarkPhotoBlobContentType}}, {{byteSize(photos.watermarkPhotoBlob)}}</span>
                </td>
                <td>{{photos.priority}}</td>
                <td>{{photos.defaultInd}}</td>
                <td>{{photos.deleteToken}}</td>
                <td>
                    <div *ngIf="photos.stockItemId">
                        <a [routerLink]="['../stock-items', photos.stockItemId , 'view' ]" >{{photos.stockItemStockItemName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/photos', photos.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/photos', photos.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'photos', { outlets: { popup: photos.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
