<div>
    <h2 id="page-heading">
        <span jhiTranslate="resourceApp.compares.home.title">Compares</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-compares" [routerLink]="['/compares/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="resourceApp.compares.home.createLabel">
            Create new Compares
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="compares">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="resourceApp.compares.compareUser">Compare User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let compares of compares ;trackBy: trackId">
                <td><a [routerLink]="['/compares', compares.id, 'view' ]">{{compares.id}}</a></td>
                <td>
                    <div *ngIf="compares.compareUserId">
                        <a [routerLink]="['../people', compares.compareUserId , 'view' ]" >{{compares.compareUserId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/compares', compares.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/compares', compares.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'compares', { outlets: { popup: compares.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
