//.product-images {
//    clear: both;
//    overflow: hidden;
//}
////.product-images.product-images-show-main .product-image:first-child {
////    margin-top: 0;
////    width: 150px;
////    height: 150px;
////}
//
//.product-images.product-images-show-main .product-image {
//    margin-right: 12px;
//    //margin-top: 53px;
//}
//
//.product-images .product-image {
//    float: left;
//    margin-right: 15px;
//}

[type='file']::-webkit-file-upload-button {
    -webkit-appearance: button;
}

.product-image {
    width: 97px;
    height: 97px;
    position: relative;
    cursor: cell;
}

//.product-images.product-images-show-main .product-image:first-child .image-upload-btn {
//    text-align: center;
//}

.product-image .image-upload-btn {
    width: 100%;
    height: 100%;
    border: 1px dashed #c4c6cf;
    text-align: left;
}

.product-image .image-upload-btn .upload-btn-icon.next-icon {
    margin: 30px 0 0 40px;
    color: #1686cc;
}

.next-icon {
    position: relative;
    display: inline-block;
    font-weight: 400;
}

//.product-images.product-images-show-main .product-image:first-child .upload-btn-icon.next-icon {
//    margin: 47px 0 0;
//}

.product-image .image-upload-btn .upload-text {
    font-size: 12px;
    text-align: center;
    margin: 6px 0;
    padding: 0;
}

.product-image .image-preview {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 97px;
    height: 97px;
    background-color: #f6f6f6;
    overflow: hidden;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.overlay-image {
    width: 256px;
    height: 256px;
}

.product-image .image-preview .image-link {
    display: table-cell;
    width: 97px;
    height: 97px;
    text-align: center;
    vertical-align: middle;
    cursor: default;
    //overflow: hidden;
}

.product-image .image-preview:hover .image-tools {
    height: 28px;
}

.product-image .image-preview:hover .image-tools fa-icon,
button {
    line-height: 28px;
    color: #fff;
    padding: 0 5px;
    cursor: pointer;
    float: left;
    width: 33.3%;
}

.product-image .image-tools {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a:visited {
    color: #199cb7;
}

a:visited {
    color: #d9e4f5;
}

a:link {
    color: #4077cc;
}

.product-badge-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    fa-icon {
        color: #ff5722;
    }
}
