<div>
    <p-fileUpload name="demofiles[]"
                  multiple="true" accept=".xls,.xlsx,.csv,.json" maxFileSize="1000000" customUpload="true" (uploadHandler)="onUpload($event)">
        <ng-template pTemplate="toolbar">
            <div style="font-size: 0.9em; margin-top: 0.5em;">
                Please select your CSV/Excel/JSON documents
            </div>
        </ng-template>
        <ng-template let-file pTemplate="file">
            <div style="margin: 0.5em 0 0.5em 0;">
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                {{file.name}}
            </div>
        </ng-template>
        <ng-template pTemplate="content">
            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
            Drag and drop files onto this area
        </ng-template>
    </p-fileUpload>
</div>
<p-growl [value]="uploadMsgs"></p-growl>
