<div>
    <h2 id="page-heading">
        <span jhiTranslate="resourceApp.transactionTypes.home.title">Transaction Types</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-transaction-types" [routerLink]="['/transaction-types/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="resourceApp.transactionTypes.home.createLabel">
            Create new Transaction Types
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="transactionTypes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="resourceApp.transactionTypes.transactionTypeName">Transaction Type Name</span></th>
            <th><span jhiTranslate="resourceApp.transactionTypes.validFrom">Valid From</span></th>
            <th><span jhiTranslate="resourceApp.transactionTypes.validTo">Valid To</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transactionTypes of transactionTypes ;trackBy: trackId">
                <td><a [routerLink]="['/transaction-types', transactionTypes.id, 'view' ]">{{transactionTypes.id}}</a></td>
                <td>{{transactionTypes.transactionTypeName}}</td>
                <td>{{transactionTypes.validFrom | date:'mediumDate'}}</td>
                <td>{{transactionTypes.validTo | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/transaction-types', transactionTypes.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/transaction-types', transactionTypes.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'transaction-types', { outlets: { popup: transactionTypes.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
