<div>
    <h2 id="page-heading">
        <span jhiTranslate="resourceApp.productTags.home.title">Product Tags</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-tags" [routerLink]="['/product-tags/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="resourceApp.productTags.home.createLabel">
            Create new Product Tags
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="productTags">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="resourceApp.productTags.tagName">Tag Name</span></th>
            <th><span jhiTranslate="resourceApp.productTags.product">Product</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let productTags of productTags ;trackBy: trackId">
                <td><a [routerLink]="['/product-tags', productTags.id, 'view' ]">{{productTags.id}}</a></td>
                <td>{{productTags.tagName}}</td>
                <td>
                    <div *ngIf="productTags.productId">
                        <a [routerLink]="['../products', productTags.productId , 'view' ]" >{{productTags.productProductName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/product-tags', productTags.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/product-tags', productTags.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'product-tags', { outlets: { popup: productTags.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
