<div>
    <h2 id="page-heading">
        <span jhiTranslate="resourceApp.paymentTransactions.home.title">Payment Transactions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-payment-transactions" [routerLink]="['/payment-transactions/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="resourceApp.paymentTransactions.home.createLabel">
            Create new Payment Transactions
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="paymentTransactions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="resourceApp.paymentTransactions.returnedCompletedPaymentData">Returned Completed Payment Data</span></th>
            <th><span jhiTranslate="resourceApp.paymentTransactions.order">Order</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let paymentTransactions of paymentTransactions ;trackBy: trackId">
                <td><a [routerLink]="['/payment-transactions', paymentTransactions.id, 'view' ]">{{paymentTransactions.id}}</a></td>
                <td>{{paymentTransactions.returnedCompletedPaymentData}}</td>
                <td>
                    <div *ngIf="paymentTransactions.orderId">
                        <a [routerLink]="['../orders', paymentTransactions.orderId , 'view' ]" >{{paymentTransactions.orderId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/payment-transactions', paymentTransactions.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/payment-transactions', paymentTransactions.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'payment-transactions', { outlets: { popup: paymentTransactions.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
