<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-payment-transactions-heading" jhiTranslate="resourceApp.paymentTransactions.home.createOrEditLabel">Create or edit a Payment Transactions</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!paymentTransactions.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="paymentTransactions.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.paymentTransactions.returnedCompletedPaymentData" for="field_returnedCompletedPaymentData">Returned Completed Payment Data</label>
                    <textarea class="form-control" name="returnedCompletedPaymentData" id="field_returnedCompletedPaymentData"
                        [(ngModel)]="paymentTransactions.returnedCompletedPaymentData" required></textarea>
                    <div [hidden]="!(editForm.controls.returnedCompletedPaymentData?.dirty && editForm.controls.returnedCompletedPaymentData?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.returnedCompletedPaymentData?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.paymentTransactions.paymentOnOrder" for="field_paymentOnOrder">Payment On Order</label>
                    <select class="form-control" id="field_paymentOnOrder" name="paymentOnOrder" [(ngModel)]="paymentTransactions.paymentOnOrderId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="ordersOption.id" *ngFor="let ordersOption of paymentonorders; trackBy: trackOrdersById">{{ordersOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
