<div>
    <h2 id="page-heading">
        <span jhiTranslate="resourceApp.businessEntityAddress.home.title">Business Entity Addresses</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-business-entity-address" [routerLink]="['/business-entity-address/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="resourceApp.businessEntityAddress.home.createLabel">
            Create new Business Entity Address
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="businessEntityAddresses">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="resourceApp.businessEntityAddress.address">Address</span></th>
            <th><span jhiTranslate="resourceApp.businessEntityAddress.person">Person</span></th>
            <th><span jhiTranslate="resourceApp.businessEntityAddress.addressType">Address Type</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let businessEntityAddress of businessEntityAddresses ;trackBy: trackId">
                <td><a [routerLink]="['/business-entity-address', businessEntityAddress.id, 'view' ]">{{businessEntityAddress.id}}</a></td>
                <td>
                    <div *ngIf="businessEntityAddress.addressId">
                        <a [routerLink]="['../addresses', businessEntityAddress.addressId , 'view' ]" >{{businessEntityAddress.addressId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="businessEntityAddress.personId">
                        <a [routerLink]="['../people', businessEntityAddress.personId , 'view' ]" >{{businessEntityAddress.personId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="businessEntityAddress.addressTypeId">
                        <a [routerLink]="['../address-types', businessEntityAddress.addressTypeId , 'view' ]" >{{businessEntityAddress.addressTypeAddressTypeName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/business-entity-address', businessEntityAddress.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/business-entity-address', businessEntityAddress.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'business-entity-address', { outlets: { popup: businessEntityAddress.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
