<div>
    <h2 id="page-heading">
        <span jhiTranslate="resourceApp.stockItemTransactions.home.title">Stock Item Transactions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-stock-item-transactions" [routerLink]="['/stock-item-transactions/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="resourceApp.stockItemTransactions.home.createLabel">
            Create new Stock Item Transactions
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="stockItemTransactions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="resourceApp.stockItemTransactions.transactionOccurredWhen">Transaction Occurred When</span></th>
            <th><span jhiTranslate="resourceApp.stockItemTransactions.quantity">Quantity</span></th>
            <th><span jhiTranslate="resourceApp.stockItemTransactions.stockItem">Stock Item</span></th>
            <th><span jhiTranslate="resourceApp.stockItemTransactions.customer">Customer</span></th>
            <th><span jhiTranslate="resourceApp.stockItemTransactions.invoice">Invoice</span></th>
            <th><span jhiTranslate="resourceApp.stockItemTransactions.supplier">Supplier</span></th>
            <th><span jhiTranslate="resourceApp.stockItemTransactions.transactionType">Transaction Type</span></th>
            <th><span jhiTranslate="resourceApp.stockItemTransactions.purchaseOrder">Purchase Order</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let stockItemTransactions of stockItemTransactions ;trackBy: trackId">
                <td><a [routerLink]="['/stock-item-transactions', stockItemTransactions.id, 'view' ]">{{stockItemTransactions.id}}</a></td>
                <td>{{stockItemTransactions.transactionOccurredWhen | date:'mediumDate'}}</td>
                <td>{{stockItemTransactions.quantity}}</td>
                <td>
                    <div *ngIf="stockItemTransactions.stockItemId">
                        <a [routerLink]="['../stock-items', stockItemTransactions.stockItemId , 'view' ]" >{{stockItemTransactions.stockItemStockItemName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="stockItemTransactions.customerId">
                        <a [routerLink]="['../customers', stockItemTransactions.customerId , 'view' ]" >{{stockItemTransactions.customerId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="stockItemTransactions.invoiceId">
                        <a [routerLink]="['../invoices', stockItemTransactions.invoiceId , 'view' ]" >{{stockItemTransactions.invoiceId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="stockItemTransactions.supplierId">
                        <a [routerLink]="['../suppliers', stockItemTransactions.supplierId , 'view' ]" >{{stockItemTransactions.supplierSupplierName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="stockItemTransactions.transactionTypeId">
                        <a [routerLink]="['../transaction-types', stockItemTransactions.transactionTypeId , 'view' ]" >{{stockItemTransactions.transactionTypeId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="stockItemTransactions.purchaseOrderId">
                        <a [routerLink]="['../purchase-orders', stockItemTransactions.purchaseOrderId , 'view' ]" >{{stockItemTransactions.purchaseOrderId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/stock-item-transactions', stockItemTransactions.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/stock-item-transactions', stockItemTransactions.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'stock-item-transactions', { outlets: { popup: stockItemTransactions.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
