<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-shopping-carts-heading" jhiTranslate="resourceApp.shoppingCarts.home.createOrEditLabel">Create or edit a Shopping Carts</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!shoppingCarts.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="shoppingCarts.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.shoppingCarts.totalPrice" for="field_totalPrice">Total Price</label>
                    <input type="number" class="form-control" name="totalPrice" id="field_totalPrice"
                        [(ngModel)]="shoppingCarts.totalPrice" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.shoppingCarts.totalCargoPrice" for="field_totalCargoPrice">Total Cargo Price</label>
                    <input type="number" class="form-control" name="totalCargoPrice" id="field_totalCargoPrice"
                        [(ngModel)]="shoppingCarts.totalCargoPrice" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.shoppingCarts.specialDeals" for="field_specialDeals">Special Deals</label>
                    <select class="form-control" id="field_specialDeals" name="specialDeals" [(ngModel)]="shoppingCarts.specialDealsId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="specialDealsOption.id" *ngFor="let specialDealsOption of specialdeals; trackBy: trackSpecialDealsById">{{specialDealsOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.shoppingCarts.cartUser" for="field_cartUser">Cart User</label>
                    <select class="form-control" id="field_cartUser" name="cartUser" [(ngModel)]="shoppingCarts.cartUserId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="peopleOption.id" *ngFor="let peopleOption of cartusers; trackBy: trackPeopleById">{{peopleOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.shoppingCarts.customer" for="field_customer">Customer</label>
                    <select class="form-control" id="field_customer" name="customer" [(ngModel)]="shoppingCarts.customerId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="customersOption.id" *ngFor="let customersOption of customers; trackBy: trackCustomersById">{{customersOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
