<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-product-brand-heading" jhiTranslate="resourceApp.productBrand.home.createOrEditLabel">Create or edit a Product Brand</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!productBrand.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="productBrand.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.productBrand.productBrandName" for="field_productBrandName">Product Brand Name</label>
                    <input type="text" class="form-control" name="productBrandName" id="field_productBrandName"
                        [(ngModel)]="productBrand.productBrandName" required/>
                    <div [hidden]="!(editForm.controls.productBrandName?.dirty && editForm.controls.productBrandName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.productBrandName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.productBrand.photo" for="field_photo">Photo</label>
                    <div>
                        <img [src]="'data:' + productBrand.photoContentType + ';base64,' + productBrand.photo" style="max-height: 100px;" *ngIf="productBrand.photo" alt="productBrand image"/>
                        <div *ngIf="productBrand.photo" class="form-text text-danger clearfix">
                            <span class="pull-left">{{productBrand.photoContentType}}, {{byteSize(productBrand.photo)}}</span>
                            <button type="button" (click)="clearInputImage('photo', 'photoContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_photo" (change)="setFileData($event, productBrand, 'photo', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="photo" id="field_photo"
                        [(ngModel)]="productBrand.photo" />
                    <input type="hidden" class="form-control" name="photoContentType" id="field_photoContentType"
                        [(ngModel)]="productBrand.photoContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="resourceApp.productBrand.merchant" for="field_merchant">Merchant</label>
                    <select class="form-control" id="field_merchant" name="merchant" [(ngModel)]="productBrand.merchantId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="merchantsOption.id" *ngFor="let merchantsOption of merchants; trackBy: trackMerchantsById">{{merchantsOption.merchantName}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
