<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="uploadTransactions">
            <h2><span jhiTranslate="resourceApp.uploadTransactions.detail.title">Upload Transactions</span> {{uploadTransactions.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="resourceApp.uploadTransactions.fileName">File Name</span></dt>
                <dd>
                    <span>{{uploadTransactions.fileName}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.uploadTransactions.templateUrl">Template Url</span></dt>
                <dd>
                    <span>{{uploadTransactions.templateUrl}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.uploadTransactions.status">Status</span></dt>
                <dd>
                    <span>{{uploadTransactions.status}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.uploadTransactions.generatedCode">Generated Code</span></dt>
                <dd>
                    <span>{{uploadTransactions.generatedCode}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.uploadTransactions.supplier">Supplier</span></dt>
                <dd>
                    <div *ngIf="uploadTransactions.supplierId">
                        <a [routerLink]="['/suppliers', uploadTransactions.supplierId, 'view']">{{uploadTransactions.supplierSupplierName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="resourceApp.uploadTransactions.actionType">Action Type</span></dt>
                <dd>
                    <div *ngIf="uploadTransactions.actionTypeId">
                        <a [routerLink]="['/upload-action-types', uploadTransactions.actionTypeId, 'view']">{{uploadTransactions.actionTypeActionTypeName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/upload-transactions', uploadTransactions.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
