<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="productDescription">
            <h2><span jhiTranslate="resourceApp.productDescription.detail.title">Product Description</span> {{productDescription.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="resourceApp.productDescription.description">Description</span></dt>
                <dd>
                    <span>{{productDescription.description}}</span>
                </dd>
                <dt><span jhiTranslate="resourceApp.productDescription.productModel">Product Model</span></dt>
                <dd>
                    <div *ngIf="productDescription.productModelId">
                        <a [routerLink]="['/product-model', productDescription.productModelId, 'view']">{{productDescription.productModelId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product-description', productDescription.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
